<template>
    <div class="handprint_zoom_saas handprint_saas" v-bind:style="{ backgroundColor: api_data.bgcolor }">
        <div class="handprint_sub_saas">
            <div class="left-div_saas">
                <div class="heading_saas">
                    <div class="heading_inner_saas">
                        <h1>{{ api_data.title }}</h1>
                    </div>
                    <div class="powered_by_saas">
                        <a href="https://handprint.tech/" target="_blank" class="powered_sass"
                           title="powered by Handprint">
                            <img v-bind:src=api_data.logo class="plugin-logo_saas" title="Handprint">
                            <span class="logo-text_sass">powered by Handprint</span></a>
                    </div>
                </div>
            </div>
            <div class="centre-div_saas">
                <div class="img-div_saas">
                    <img v-bind:src=api_data.image alt="Nature" class="img"/>
                </div>
            </div>
            <div class="right-div_saas">
                <div class="right-div-inner_saas">
                    <div class="plant_heading_saas">
                        <h3>{{ api_data.static_title }}</h3>
                    </div>
                    <ul class="tree_saas">
                        <li>
                            <span class="total_saas">This week</span>
                            <div class="icon-content_saas">
                                <img :src="icon"/>
                            </div>
                            <span class="number_saas">{{ api_data.week_planted_tree }}</span>
                        </li>
                        <li>
                            <span class="total_saas">Total</span>
                            <div class="icon-content_saas">
                                <img :src="icon"/>
                            </div>
                            <span class="number_saas">{{ api_data.total_planted_tree }}</span>
                        </li>
                    </ul>
                </div>
                <div class="bottom-div_saas">
                    <p> {{ api_data.description }}</p>
                </div>
            </div>
            <div class="clear_saas"></div>
        </div>
        <div class="mobile-para_saas" v-bind:style="{ backgroundColor: api_data.bgcolor }">
            <p> {{ api_data.description }}</p>
            <div class="powered_by_saas">
                <a href="https://handprint.tech/" target="_blank" class="powered_sass" title="powered by Handprint">
                    <img v-bind:src=api_data.logo class="plugin-logo_saas" title="Handprint"/>
                    <span class="logo-text_sass">powered by Handprint</span></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "HandHtml",
    props: ['api_data'],
    data() {
        return {
            icon: process.env.APP_URL+"/images/lite_tree/",
        };
    },
    created() {
        this.icon = this.icon+this.api_data.icon;
    }
}
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
    .handprint_saas *{
        font-family: 'Nunito' !important;
        letter-spacing: normal;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .mobile-para_saas{
          display: none;
      }
    .heading_inner_saas h1, .plant_heading_saas h3 {
        text-transform: none !important;
    }
    .handprint_saas {
        max-width: 684px;
        padding: 24px;
        background-color: #fff;
        border-radius: 48px;
        margin: auto;
        position: relative;
        margin-bottom: 30px;
    }
    .handprint_saas .heading_saas {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .handprint_saas .heading_saas .heading_inner_saas {
        flex-grow: 1;
    }
    .handprint_saas .handprint_sub_saas {
        padding: 16px;
        width: 100%;
        display: block;
        /*box-shadow: 0 13px 30px -15px #000;*/
        border-radius: 24px;
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .clear_saas {
        clear: both;
        content: '';
        display: block;
    }
    .handprint_saas {
        overflow: hidden;
        position: relative;
        background: #50c7b0;
    }
    .handprint_saas:after {
        /*background-image: url(../images/shadow.png);*/
        content: '';
        position: absolute;
        left: 0;
        z-index: 0;
        height: 100%;
        /* height: 20px; */
        width: 100%;
        top: 0;
        background-size: auto 100%;
    }
    .handprint_saas .left-div_saas .heading_saas h1 {
        font-size: 35px;
        margin: 0px;
        font-weight: 900;
        padding-top: 0;
        line-height: 1;
        word-break: keep-all;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .handprint_saas .centre-div_saas {
        width: 23.5%;
        float: left;
        overflow: hidden;
        border-radius: 8px;
    }
    .handprint_saas .centre-div_saas .img-div_saas{
        height: 197px;
    }
    .handprint_saas .centre-div_saas img {
        height: 100% !important;
        width: 100%;
        vertical-align: middle;
        -o-object-fit: cover;
        object-fit: cover;
        max-width: 100%;
        border-radius: 12px;
    }
    .handprint_saas .left-div_saas {
        width: 32%;
        padding: 0px 0px 0px 0px;
        height: auto;
        float: left;
    }
    .handprint_saas .right-div_saas {
        width: 44.5%;
        float: left;
        padding: 0px 0px 0px 16px;
    }
    .handprint_saas .right-div_saas .mobile-para_saas{
        display: none;
    }
    .handprint_saas .bottom-div_saas {
        padding-top: 10px;
    }
    .handprint_saas.front-handprint_saas .bottom-div_saas{
        padding-top: 5px;
    }
    .handprint_saas .right-div_saas .plant_heading_saas h3 {
        font-size: 24px;
        color: #31af9c;
        font-weight: 800;
        margin-top: 0px;
        line-height: 31px;
        margin-bottom: 12px;
    }
    .handprint_saas.handprint_saas_default .right-div_saas .plant_heading_saas h3{
        margin-top: 16px;
        margin-bottom: 0px;
    }
    .handprint_saas .tree_saas {
        list-style-type: none;
        padding-left: 0px;
        display: table;
        width: 100%;
        margin: 0px;
    }
    .handprint_saas .tree_saas li {
        display: inline-block;
    }
    .handprint_saas .tree_saas li .total_saas {
        font-size: 14px;
        display: block;
        font-weight: 600;
        color: #60686f;
        line-height: 18px;
    }
    .icon-content_saas {
        height: auto;
        width: 11px;
        display: inline-block;
        margin-right: 6px;
    }
    .icon-content_saas img {
        max-width: 100%;
    }
    .handprint_saas .tree_saas li {
        margin-left: 0px;
        min-width: 83px;
        padding-right: 13px;
        margin-right: 13px;
        border-right: 1px solid #dbe9e7;
        margin-bottom: 6px;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 6px;
    }
    .handprint_saas.front-handprint_saas .tree_saas li {
        margin-bottom: 0px;
    }
    .handprint_saas .tree_saas li:last-child {
        border-right: 0;
        padding-right: 0px;
        margin-right: 0px;
    }
    .handprint_saas .tree_saas li .number_saas {
        font-size: 24px;
        color: #000;
        display: inline-block;
        /*padding-left: 5px;*/
        font-weight: 800;
        line-height: normal;
    }
    .handprint_saas .padding-left-15 {
        padding-left: 15px !important;
    }
    .handprint_saas .padding-left-10 {
        padding-left: 10px;
    }
    .handprint_saas .powered_sass {
        text-decoration: none;
        position: absolute;
        bottom: 16px;
        left: 16px
    }
    .handprint_saas .powered_sass span {
        margin-top: auto;
        margin-bottom: auto;
    }
    .handprint_saas img.plugin-logo_saas {
        height: 20px;
        width: 20px;
        float: left;
        max-width: 20px;
        margin-right: 7px;
        vertical-align: middle;
    }
    .bottom-div_saas p {
        font-size: 14px;
        font-weight: bold;
        color: #60686f;
        margin: 0px;
        letter-spacing: normal;
        text-align: left;
        line-height: 1.4;
    }
    .bottom-div_saas p span {
        font-weight: 700;
        color: #000000;
    }
    .handprint_saas_2 {
        max-width: 684px;
        border: 25px solid #3dc9b3;
        background-color: #fff;
        border-radius: 48px;
        margin: auto;
    }
    .handprint_saas_2 .heading_saas {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .handprint_saas_2 .heading_saas .heading_inner_saas {
        flex-grow: 1;
    }
    .handprint_saas_2 .left-div_saas {
        width: 30%;
        display: table-cell;
        vertical-align: top;
        padding: 0px 10px 0px 10px;
        height: 182px;
    }
    .handprint_saas .powered_sass .logo-text_sass {
        font-weight: normal;
        font-size: 14px;
        vertical-align: top;
        color: black;
    }
    .handprint_saas.front-handprint_saas .powered_sass{
        line-height:20px;
    }
    .handprint_saas_2 .handprint_sub_saas {
        position: relative;
        padding: 15px;
        display: table;
        width: 100%;
        /*box-shadow: 0 13px 30px -15px #000;*/
        border-radius: 20px;
        background: #fff;
        box-shadow: 10px 8px 21px -6px #847f7fb5
    }
    .handprint_saas_2 .left-div_saas .heading_saas h1 {
        font-size: 42px;
        margin: 0px;
        line-height: 40px;
        font-weight: bold;
        color: #000;
    }
    .handprint_saas_2 .centre-div_saas {
        width: 25%;
        display: table-cell;
        vertical-align: top;
        padding: 0px 10px 0px 10px;
    }
    .handprint_saas_2 .centre-div_saas .img-div_saas {
        width: 140px;
        margin: auto;
        height: 182px;
        overflow: hidden;
    }

    .handprint_saas_2 .centre-div_saas img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .handprint_saas_2 .right-div_saas {
        width: 45%;
        display: table-cell;
        vertical-align: top;
        padding: 15px 10px 0px 10px;
    }
    .handprint_saas_2 .right-div_saas .plant_heading_saas h3 {
        font-size: 24px;
        color: #31af9c;
        font-weight: 800;
        margin: 0px;
        line-height: 30px;
    }
    .handprint_saas_2 .tree_saas {
        list-style-type: none;
        padding-left: 0px;
        display: table;
        width: 100%;
        margin: 5px 0px;
    }
    .handprint_saas_2 .tree_saas li {
        display: inline-block;
    }
    .handprint_saas_2 .tree_saas li .total_saas {
        font-size: 14px;
        display: block;
        font-weight: 600;
        color: #60686f;
        line-height: 1.29;
    }
    .handprint_saas_2 .tree_saas li:first-child {
        width: 38%;
    }
    .handprint_saas_2 .tree_saas li:last-child {
        padding-left: 0px;
        width: 62%;
    }
    .handprint_saas_2 .tree_saas li .number_saas {
        font-size: 25px;
        color: #000;
        display: inline-block;
        font-weight: 800;
    }
    .handprint_saas_2 .padding-left-15 {
        padding-left: 15px !important;
    }
    .handprint_saas_2 .padding-left-10 {
        padding-left: 10px;
    }
    .handprint_saas_2 .powered_sass {
        font-size: 13px;
        display: flex;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-weight: 700;
    }
    .handprint_saas_2 .powered_sass span {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 10px;
    }
    .handprint_saas_2 img.plugin-logo_saas {
        height: 20px;
        width: 20px;
        max-width: 20px;
        float: left;
        margin-right: 7px;
        vertical-align: middle;
    }
    .bottom-div_saas {
        padding: 20px 0px 0px;
    }
    .bottom-div_saas p {
        font-size: 14px;
        font-weight: 600;
        color: #60686f;
        margin: 15px 0 0;
        letter-spacing: 0px;
        text-align: left;
        line-height: normal;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .bottom-div_saas p span {
        font-weight: 700;
        color: #000000;
    }
    .handprint_saas .right-div_saas .bottom-div_saas p span{
        color: #000;
    }
    .handprint_saas .mobile-para_saas p span{
        font-weight: 700;
    }
    @media(max-width:885px) {
        .handprint_saas .left-div_saas .heading_saas h1{
            font-size: 35px;
        }
    }
    @media(max-width:805px) {
        .handprint_saas{
            padding: 18px;
            max-width: 651px;
            border-radius: 36px;
        }
    }
    @media(max-width:767px) {
        .handprint_saas{
            padding: 18px;
            max-width: 600px;
            border-radius: 36px;
        }
        .handprint_saas:after{
            content: none;
        }
        .handprint_saas .handprint_sub_saas{
            padding: 12px;
            border-radius: 18px;
        }
        .handprint_saas .left-div_saas{
            padding: 0px 12px 0px 0px;
        }
        .handprint_saas .right-div_saas{
            padding: 0px 0px 0px 12px;
        }
        .handprint_saas .left-div_saas .heading_saas h1{
            font-size: 30px;
        }
        .handprint_saas .right-div_saas .plant_heading_saas h3,
        .handprint_saas .tree_saas li .number_saas{
            font-size: 20px;
        }
        .handprint_saas img.plugin-logo_saas{
            margin-right: 4px;
        }
        .handprint_saas .powered_sass{
            left: 12px;
            bottom: 12px;
        }
        .handprint_saas_2 .powered_sass .logo-text_sass,
        .handprint_saas .powered_sass .logo-text_sass{
            font-size: 12px;
        }
        .bottom-div_saas p{
            font-size: 13px;
        }
        .bottom-div_saas p{
            margin-top: 10px;
            -webkit-line-clamp: 5;
        }
    }


    /* 534 - 711 */
    @media(max-width:711px) {
        .handprint_saas .centre-div_saas .img-div_saas{
            height: 110px;
        }
        .handprint_saas{
            padding: 12px;
            max-width: 440px;
            border-radius: 30px;
        }
        .handprint_saas .handprint_sub_saas{
            border-radius: 16px;
        }
        .handprint_saas .right-div_saas{
            width: 100%;
            padding: 12px 0 0;
        }
        .handprint_saas .left-div_saas{
            width: 42%;
        }
        .handprint_saas .centre-div_saas{
            max-height: 110px;
            width: 58%;
        }
        .handprint_saas .left-div_saas .heading_saas h1{
            font-size:26px;
        }
        .handprint_saas .right-div_saas .plant_heading_saas{
            float: left;
            width: 42%;
        }
        .handprint_saas .right-div_saas .tree_saas{
            float: right;
            text-align: center;
            width: 57%;
        }
        .handprint_saas.front-handprint_saas.handprint_saas_default .right-div_saas .plant_heading_saas{
            width: 67%;
        }
        .handprint_saas.front-handprint_saas.handprint_saas_default .right-div_saas .tree_saas{
            width: 33%;
            text-align: left;
        }
        .handprint_saas .tree_saas li{
            min-width: auto;
            margin-bottom: 0;
            text-align: left;
        }
        .tree-list{
            display: table;
            margin:0 auto;
        }
        .handprint_saas .right-div_saas .bottom-div_saas p,
        .handprint_saas .powered_sass{
            display: none;
        }
        .handprint_saas .powered_sass{
            position: static;
        }
        .handprint_saas .mobile-para_saas{
            padding: 0px 20px;
            display: block;
        }
        .handprint_saas .mobile-para_saas p{
            font-size: 14px;
            color: #fff;
            line-height: normal;
            margin: 10px 0;
        }
        .handprint_saas .mobile-para_saas .powered_sass{
            display: table;
            margin: 0 auto;
        }
        .handprint_saas.handprint_saas_default .right-div_saas .plant_heading_saas h3{
            margin:0px;
        }
        .handprint_saas .right-div_saas .plant_heading_saas h3{
            margin-top: 12px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .handprint_saas .bottom-div_saas{
            display: none;
        }
    }
    @media(max-width:534px) {
        .handprint_saas{
            max-width: 400px;
        }
        .handprint_saas .left-div_saas .heading_saas h1{
            font-size: 21px;
            line-height: 1;
        }
        .handprint_saas .right-div_saas .plant_heading_saas h3,
        .handprint_saas .tree_saas li .number_saas{
            font-size: 16px;
        }
        .handprint_saas .right-div_saas .plant_heading_saas h3 {
            margin-top: 7px;
            margin-bottom: 5px;
            line-height: 24px;
        }
        .handprint_saas .right-div_saas .tree_saas{
            line-height: normal;
        }
        .icon-content_saas{
            vertical-align: middle;
        }
    }
    @media(max-width:444px) {
        .handprint_saas{
            max-width: 100%;
        }
        .handprint_saas{
            border-radius: 24px;
        }
        .handprint_saas .handprint_sub_saas{
            padding: 8px;
        }
        .handprint_saas .left-div_saas{
            padding-right: 5px;
        }
        .handprint_saas .mobile-para_saas{
            padding: 0px 10px;
        }
    }
    @media(max-width:355px){
        .handprint_saas .right-div_saas .plant_heading_saas h3{
            font-size: 14px;
        }
        .handprint_saas .tree_saas li .total_saas{
            font-size: 12px;
        }
        .handprint_saas .mobile-para_saas p{
            font-size: 13px;
        }
    }
</style>
