<template>
    <div>
        <div class="handprint_zoom_saas handprint_neutral_saas front-handprint_saas" v-if="api_data.mode === 'default.php'">
            <div class="neutral_widget">
                <div class="handprint_sub_saas">
                    <div class="left-div_saas" :style="`background-color:`+api_data.bgcolor">
                        <div class="heading_saas">
                            <div class="heading_inner_saas"><h1>{{ api_data.holding.title }}</h1></div>
                        </div>
                    </div>
                    <div class="right-div_saas">
                        <div class="right-div-inner_saas">
                            <p class="content">{{ api_data.holding.description }}</p>
                        </div>
                        <div class="bottom-div_saas"><p>{{ api_data.short_description }}</p></div>
                    </div>
                    <div class="clear_saas"></div>
                </div>
                <div class="powered_by_saas">
                    <a href="https://handprint.tech/" target="_blank" class="powered_sass" title="powered by Handprint">
                        <img :src="api_data.logo" class="plugin-logo_saas" title="Handprint" /> <span class="logo-text_sass">powered by handprint</span></a>
                </div>
            </div>
        </div>

        <div class="handprint_neutral_saas front-handprint_saas" v-if="api_data.mode === 'cart.php'">
            <div class="neutral_widget">
                <div class="handprint_sub_saas">
                    <div class="left-div_saas" :style="`background-color:`+api_data.bgcolor">
                        <div class="heading_saas">
                            <div class="heading_inner_saas"><h1>{{ api_data.title }}</h1></div>
                        </div>
                    </div>
                    <div class="right-div_saas">
                        <div class="right-div-inner_saas">
                            <p class="content">{{ api_data.description }}</p>
                        </div>
                        <div class="bottom-div_saas"><p>{{ api_data.short_description }}</p></div>
                    </div>
                    <div class="clear_saas"></div>
                </div>
                <div class="powered_by_saas">
                    <a href="https://handprint.tech/" target="_blank" class="powered_sass" title="powered by Handprint">
                        <img :src="api_data.logo" class="plugin-logo_saas" title="Handprint" /> <span class="logo-text_sass">powered by handprint</span></a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "NeutralComponent",
    props: ['api_data'],
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
    body .handprint_neutral_saas,
    body .handprint_neutral_saas *{
        font-family: 'Nunito' !important;
        letter-spacing: normal;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .heading_inner_saas h1, .plant_heading_saas h3 {
        text-transform: none !important;
    }
    .handprint_neutral_saas {
        width: 568px;
        background-color: #fff;
        margin: auto;
        position: relative;
        margin-bottom: 30px;
        height: auto;
        min-height: 104px;
    }

    .handprint_neutral_saas .heading_saas {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .handprint_neutral_saas .heading_saas .heading_inner_saas {
        flex-grow: 1;
    }

    .handprint_neutral_saas .handprint_sub_saas {
        padding: 0px;
        width: 100%;
        display: block;
        border-radius: 0px;
        background: #fff;
        position: relative;
        z-index: 1;
        border: 1px solid #000;
    }

    .clear_saas {
        clear: both;
        content: '';
        display: block;
    }

    .handprint_neutral_saas {
        overflow: hidden;
        position: relative;
    }

    .handprint_neutral_saas .left-div_saas .heading_saas h1 {
        font-size: 24px;
        margin: 0px;
        font-weight: 900;
        line-height: 1;
        word-break: keep-all;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .handprint_neutral_saas .centre-div_saas {
        width: 23.5%;
        float: left;
        overflow: hidden;
        border-radius: 8px;
    }

    .handprint_neutral_saas .centre-div_saas img {
        height: auto;
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
        max-width: 100%;
    }

    .handprint_neutral_saas .left-div_saas {
        width: 32%;
        padding: 16px 0px 0 16px;
        height: 107px;
        float: left;
    }

    .handprint_neutral_saas .right-div_saas {
        width: 68%;
        float: left;
        padding: 16px 16px 16px 16px;
    }
    .handprint_neutral_saas .right-div-inner_saas{
        height: 64px;
    }
    .handprint_neutral_saas .right-div_saas p.content{
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 15px;
    }
    .handprint_neutral_saas .right-div_saas .mobile-para_saas{
        display: none;
    }
    .handprint_neutral_saas .bottom-div_saas {
        padding-top: 10px;
    }
    .handprint_neutral_saas.front-handprint_neutral_saas .bottom-div_saas{
        padding-top: 5px;
    }

    .handprint_neutral_saas .right-div_saas .plant_heading_saas h3 {
        font-size: 24px;
        color: #31af9c;
        font-weight: 800;
        margin-top: 0px;
        line-height: 31px;
        margin-bottom: 12px;
    }
    .handprint_neutral_saas.handprint_neutral_saas_default .right-div_saas .plant_heading_saas h3{
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .handprint_neutral_saas .tree_saas {
        list-style-type: none;
        padding-left: 0px;
        display: table;
        width: 100%;
        margin: 0px;
    }

    .handprint_neutral_saas .tree_saas li {
        display: inline-block;
    }

    .handprint_neutral_saas .tree_saas li .total_saas {
        font-size: 14px;
        display: block;
        font-weight: 600;
        color: #60686f;
        line-height: 18px;
    }

    .icon-content_saas {
        height: auto;
        width: 11px;
        display: inline-block;
        margin-right: 6px;
    }

    .icon-content_saas img {
        max-width: 100%;
    }

    .handprint_neutral_saas .tree_saas li {
        margin-left: 0px;
        min-width: 83px;
        padding-right: 13px;
        margin-right: 13px;
        border-right: 1px solid #dbe9e7;
        margin-bottom: 6px;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 6px;
    }


    .handprint_neutral_saas.front-handprint_neutral_saas .tree_saas li {
        margin-bottom: 0px;
    }
    .handprint_neutral_saas .tree_saas li:last-child {
        border-right: 0;
        padding-right: 0px;
        margin-right: 0px;
    }

    .handprint_neutral_saas .tree_saas li .number_saas {
        font-size: 24px;
        color: #000;
        display: inline-block;
        /*padding-left: 5px;*/
        font-weight: 800;
        line-height: normal;
    }

    .handprint_neutral_saas .padding-left-15 {
        padding-left: 15px !important;
    }

    .handprint_neutral_saas .padding-left-10 {
        padding-left: 10px;
    }
    .handprint_neutral_saas img.plugin-logo_saas {
        height: 20px;
        width: 20px;
        max-width: 20px;
        vertical-align: middle;
    }
    .handprint_neutral_saas_2 {
        max-width: 684px;
        border: 25px solid #3dc9b3;
        background-color: #fff;
        border-radius: 48px;
        margin: auto;
    }

    .handprint_neutral_saas_2 .heading_saas {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .handprint_neutral_saas_2 .heading_saas .heading_inner_saas {
        flex-grow: 1;
    }

    .handprint_neutral_saas_2 .left-div_saas {
        width: 30%;
        display: table-cell;
        vertical-align: top;
        padding: 0px 10px 0px 10px;
        height: 182px;
    }

    .handprint_neutral_saas .powered_sass .logo-text_sass {
        font-weight: 300;
        font-size: 14px;
        vertical-align: top;
        color: #3dc9b3;
    }

    .handprint_neutral_saas.front-handprint_neutral_saas .powered_sass{
        line-height:20px;
    }
    .handprint_neutral_saas_2 .handprint_sub_saas {
        position: relative;
        padding: 15px;
        display: table;
        width: 100%;
        /*box-shadow: 0 13px 30px -15px #000;*/
        border-radius: 20px;
        background: #fff;
        -webkit-box-shadow: 10px 8px 21px -6px #847f7fb5;
        -moz-box-shadow: 10px 8px 21px -6px #847f7fb5;
        box-shadow: 10px 8px 21px -6px #847f7fb5
    }

    .handprint_neutral_saas_2 .left-div_saas .heading_saas h1 {
        font-size: 42px;
        margin: 0px;
        line-height: 40px;
        font-weight: bold;
        color: #000;
    }

    .handprint_neutral_saas_2 .centre-div_saas {
        width: 25%;
        display: table-cell;
        vertical-align: top;
        padding: 0px 10px 0px 10px;
    }
    .handprint_neutral_saas_2 .centre-div_saas .img-div_saas {
        width: 140px;
        margin: auto;
        height: 182px;
        overflow: hidden;
    }
    .handprint_neutral_saas_2 .centre-div_saas img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
    .handprint_neutral_saas_2 .right-div_saas {
        width: 45%;
        display: table-cell;
        vertical-align: top;
        padding: 15px 10px 0px 10px;
    }
    .handprint_neutral_saas_2 .right-div_saas .plant_heading_saas h3 {
        font-size: 24px;
        color: #31af9c;
        font-weight: 800;
        margin: 0px;
        line-height: 30px;
    }
    .handprint_neutral_saas_2 .tree_saas {
        list-style-type: none;
        padding-left: 0px;
        display: table;
        width: 100%;
        margin: 5px 0px;
    }
    .handprint_neutral_saas_2 .tree_saas li {
        display: inline-block;
    }
    .handprint_neutral_saas_2 .tree_saas li .total_saas {
        font-size: 14px;
        display: block;
        font-weight: 600;
        color: #60686f;
        line-height: 1.29;
    }
    .handprint_neutral_saas_2 .tree_saas li:first-child {
        width: 38%;
    }
    .handprint_neutral_saas_2 .tree_saas li:last-child {
        padding-left: 0px;
        width: 62%;
    }
    .handprint_neutral_saas_2 .tree_saas li .number_saas {
        font-size: 25px;
        color: #000;
        display: inline-block;
        font-weight: 800;
    }
    .handprint_neutral_saas_2 .padding-left-15 {
        padding-left: 15px !important;
    }
    .handprint_neutral_saas_2 .padding-left-10 {
        padding-left: 10px;
    }
    .handprint_neutral_saas_2 .powered_sass {
        font-size: 13px;
        display: flex;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-weight: 700;
    }
    .handprint_neutral_saas_2 .powered_sass span {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 10px;
    }
    .handprint_neutral_saas_2 img.plugin-logo_saas {
        height: 20px;
        width: 20px;
        max-width: 20px;
        float: left;
        margin-right: 7px;
        vertical-align: middle;
    }
    .bottom-div_saas p {
        font-size: 14px;
        font-weight: 700;
        color: #1DCA99;
        margin: 0;
        letter-spacing: 0px;
        line-height: 33px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        background-color: #CEF8EC;
        text-align: center;
        height: 33px;
        border-radius: 8px;
        position: absolute;
        bottom: 0;
        margin-bottom: 7px;
        width: 61%
    }
    .bottom-div_saas p span {
        font-weight: 700;
        color: #000000;
    }
    .handprint_neutral_saas .right-div_saas .bottom-div_saas p span{
        color: #000;
    }
    .handprint_neutral_saas .mobile-para_saas p span{
        font-weight: 700;
    }
    .handprint_neutral_saas .neutral_widget{
        position: relative;
    }
    .handprint_neutral_saas .neutral_widget .powered_by_saas{
        width: 100%;
        text-align: right;
    }
    .handprint_neutral_saas .neutral_widget .powered_by_saas .powered_sass{
        text-decoration: none;
    }
    @media(max-width: 575px){
        .handprint_neutral_saas .left-div_saas{
            height: auto;
            padding: 16px 0px 16px 16px;
        }
        .handprint_neutral_saas .right-div-inner_saas{
            height: auto;
        }
        .handprint_neutral_saas .left-div_saas .heading_saas h1{
            width: 160px;
        }
        .handprint_neutral_saas{
            max-width: 336px;
        }
        .handprint_neutral_saas .left-div_saas{
            width: 100%;
        }
        .handprint_neutral_saas .right-div_saas{
            width: 100%;
            padding: 16px;
        }

        .bottom-div_saas p{
            position: static;
            width: 304px;
            margin: 0
        }
    }
</style>
