<template>
    <div class="label_main_section"  :class="button_placement" >
        <DefaultComponent :api_data="api_data" v-if="api_data.theme === 'regular' && api_data.mode === 'default.php'"></DefaultComponent>

        <HtmlComponent :api_data="api_data" v-if="api_data.theme === 'regular' && api_data.mode === 'cart.php'"></HtmlComponent>

        <!--<PlasticComponent></PlasticComponent>-->

        <LiteTreeComponent :api_data="api_data" v-if="api_data.theme === 'lite'"></LiteTreeComponent>

        <NeutralComponent :api_data="api_data" v-if="api_data.theme === 'neutral'"></NeutralComponent>

    </div>
</template>

<script>
import DefaultComponent from "./../setting/types/HandDefault";
import HtmlComponent from "./../setting/types/HandHtml";
import PlasticComponent from "./../setting/types/PluginPastic";
import LiteTreeComponent from "./../setting/types/LiteTreeComponent";
import NeutralComponent from "./../setting/types/NeutralComponent";
import Loading from "vue-loading-overlay";
export default {

    props: ["moduleData", "shopCart"],
    components: {
        Loading,
        DefaultComponent,
        HtmlComponent,
        PlasticComponent,
        LiteTreeComponent,
        NeutralComponent
    },
    name: "Widget",
    data() {
        return {
            handprint_api_url: '',
            show_default_html: false,
            show_cart_html: false,
            show_lite_html: false,
            api_user_id: "",
            api_data: "",
            button_placement:'center',
        };
    },
    methods: {
        async getWidget() {
            let base = this;

            try {
                let { data } = await axios.get(base.handprint_api_url +'/get-widget/'+ base.api_user_id);
                let response = data.data;

                base.api_data = response;
                base.theme = response.theme;

                if(response.mode === 'default.php') {
                    base.show_default_html = true;
                    base.show_cart_html = false;
                    base.show_lite_html = false;

                    base.api_data.title = response.holding.title;
                    base.api_data.description = response.holding.description;

                } else if(response.mode === 'cart.php') {
                    base.show_cart_html = true;
                    base.show_default_html = false;
                    base.show_lite_html = false;

                    base.api_data.title = response.title;
                    base.api_data.week_planted_tree = response.week_planted_tree;

                    let description = response.description;
                    if (typeof response.short_code !== 'undefined') {
                        let shortCode = response.short_code;

                        if (shortCode === 'revenue') {
                            if (typeof response.project_id !== 'undefined') {

                                let cart_total = base.shopCart.original_total_price / 100;
                                let currency = base.shopCart.currency;

                                let spend = parseFloat(cart_total *  parseFloat(response.pledge.total) / 100);
                                let trees_added = parseFloat(spend / parseFloat(response.unit_price));
                                trees_added = trees_added.toFixed(3);
                                description = description.replace("SPEND", currency+" "+spend).replace("AMOUNT", currency+" "+spend).replace("COUNTRY", response.country)
                                    .replace("PERCENTAGE", response.pledge.total).replace("TREES_ADDED", trees_added).replace("KILOS_REMOVED", trees_added);
                            }
                        } else if(shortCode === 'carbon') {
                            if (typeof response.project_id !== 'undefined') {

                                description = description.replace("CO2KG", response.pledge.average).replace("COUNTRY", response.country);
                            }
                        } else if (shortCode === 'advert') {
                            description = description.replace("COUNTRY", response.country);
                        }
                    }
                    base.api_data.description = description;

                }  else {
                    console.log('invalid mode');
                }
            } catch (response) {
                console.log(response);
            }
            base.isLoading = false;
        },
        setWidgetPosition(){
            let align = this.moduleData.settings.button_position.split(" ");
            this.button_placement = "label_main_section-"+align[1];
        }
    },
    mounted() {
        let base = this;
        base.handprint_api_url = base.moduleData.handprint_api_url;
        base.api_user_id = base.moduleData.api_user_id;
        base.setWidgetPosition();

        // const form = {key: "3aef8d0e-4ad7-4c4f-97a2-12fdd0e2454c", password: "DSCUklgq$@*5AKpZV%S^Wy4"};
        // axios.post(process.env.MIX_HANDPRINT_LOGIN_URL, form)
        // .then(response => {
        //     console.log('----Login-----',response.data.message);
        //     base.getWidget();
        //
        // })
        // .catch(error => {
        //     this.errorMessage = error.message;
        //     console.error("There was an error!", error);
        // });

        this.$watch('shopCart', shopCart => { this.getWidget() }, {immediate:true})

    },
};
</script>

<style>
    .label_main_section-Left {
        float: left;
    }

    .label_main_section-Right{
        float: right;
    }
    .label_main_section-Center{
        display: flex;
        justify-content: center;
    }
</style>

