<template>
    <!-- TODO We need to add check here if the api key is available or not AND status is active or not  -->
    <div class="label_main_section">
        <loading :active.sync="isLoading" :is-full-page="true"></loading>

        <div class="Polaris-Page">
            <div class="Polaris-Page__Content">
                <div class="Polaris-Card">
                    <div class="Polaris-IndexTable">
                        <div
                            class="Polaris-IndexTable__StickyTable"
                            role="presentation"
                        >
                            <div>
                                <div></div>
                                <div>
                                    <div
                                        class="Polaris-IndexTable__StickyTableHeader"
                                    >
                                        <div
                                            class="Polaris-IndexTable__StickyTableColumnHeader"
                                        >
                                            <div
                                                class="Polaris-IndexTable__TableHeading"
                                                data-index-table-sticky-heading="true"
                                                style="min-width: 203px;"
                                            >
                                                <div
                                                    class="Polaris-Stack Polaris-Stack--spacingNone Polaris-Stack--alignmentCenter Polaris-Stack--noWrap"
                                                >
                                                    <div
                                                        class="Polaris-Stack__Item"
                                                    >
                                                        <div
                                                            class="Polaris-IndexTable__StickyColumnHeaderCheckbox"
                                                            style="min-width: calc(46px);"
                                                        >
                                                            <div
                                                                class="Polaris-IndexTable__ColumnHeaderCheckboxWrapper"
                                                            >
                                                                <label
                                                                    class="Polaris-Choice Polaris-Choice--labelHidden"
                                                                    for="PolarisCheckbox36"
                                                                    ><span
                                                                        class="Polaris-Choice__Control"
                                                                        ><span
                                                                            class="Polaris-Checkbox"
                                                                            ><input
                                                                                id="PolarisCheckbox36"
                                                                                type="checkbox"
                                                                                class="Polaris-Checkbox__Input"
                                                                                aria-invalid="false"
                                                                                role="checkbox"
                                                                                aria-checked="false"
                                                                                value=""/><span
                                                                                class="Polaris-Checkbox__Backdrop"
                                                                            ></span
                                                                            ><span
                                                                                class="Polaris-Checkbox__Icon"
                                                                                ><span
                                                                                    class="Polaris-Icon"
                                                                                    ><svg
                                                                                        viewBox="0 0 20 20"
                                                                                        class="Polaris-Icon__Svg"
                                                                                        focusable="false"
                                                                                        aria-hidden="true"
                                                                                    >
                                                                                        <path
                                                                                            d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"
                                                                                        ></path></svg></span></span></span></span
                                                                    ><span
                                                                        class="Polaris-Choice__Label"
                                                                        >Select
                                                                        all
                                                                        customers</span
                                                                    ></label
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="Polaris-Stack__Item"
                                                    >
                                                        <div
                                                            class="Polaris-IndexTable--stickyTableHeadingSecondScrolling"
                                                        >
                                                            Order #
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="Polaris-IndexTable__StickyTableHeadings"
                                        >
                                            <div
                                                class="Polaris-IndexTable__TableHeading"
                                                data-index-table-sticky-heading="true"
                                                style="min-width: 127px;"
                                            >
                                                Order #
                                            </div>
                                            <div
                                                class="Polaris-IndexTable__TableHeading"
                                                data-index-table-sticky-heading="true"
                                                style="min-width: 211px;"
                                            >
                                                Order Date
                                            </div>
                                            <div
                                                class="Polaris-IndexTable__TableHeading"
                                                data-index-table-sticky-heading="true"
                                                style="min-width: 154px;"
                                            >
                                                Customer ID
                                            </div>
                                            <div
                                                class="Polaris-IndexTable__TableHeading"
                                                data-index-table-sticky-heading="true"
                                                style="min-width: 172px;"
                                            >
                                                Customer Email
                                            </div>
                                            <div
                                                class="Polaris-IndexTable__TableHeading"
                                                data-index-table-sticky-heading="true"
                                                style="min-width: 172px;"
                                            >
                                                Customer Name
                                            </div>
                                            <div
                                                class="Polaris-IndexTable__TableHeading"
                                                data-index-table-sticky-heading="true"
                                                style="min-width: 172px;"
                                            >
                                                Status
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Polaris-IndexTable-ScrollContainer">
                            <table class="Polaris-IndexTable__Table">
                                <thead>
                                    <tr>
                                        <th
                                            class="Polaris-IndexTable__TableHeading"
                                            data-index-table-heading="true"
                                        >
                                            Order ID
                                        </th>
                                        <th
                                            class="Polaris-IndexTable__TableHeading"
                                            data-index-table-heading="true"
                                        >
                                            Customer Name
                                        </th>
                                        <th
                                            class="Polaris-IndexTable__TableHeading"
                                            data-index-table-heading="true"
                                        >
                                            Customer Email
                                        </th>
                                        <th
                                            class="Polaris-IndexTable__TableHeading"
                                            data-index-table-heading="true"
                                        >
                                            Order Date
                                        </th>
                                        <th
                                            class="Polaris-IndexTable__TableHeading"
                                            data-index-table-heading="true"
                                        >
                                            Pledge Status
                                        </th>
                                        <th
                                            class="Polaris-IndexTable__TableHeading"
                                            data-index-table-heading="true"
                                        >
                                            Is POS
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        class="Polaris-IndexTable__TableRow"
                                        v-for="product in api_data.data"
                                        :key="product.id"
                                    >
                                        <td
                                            class="Polaris-IndexTable__TableCell"
                                        >
                                            <a
                                                class="Polaris-Link"
                                                target="_blank"
                                                :href="
                                                    'https://' +
                                                        shop.name +
                                                        '/admin/orders/' +
                                                        product.shopify_order_id
                                                "
                                                data-polaris-unstyled="true"
                                                style="text-decoration: none;"
                                                ><span
                                                    class="Polaris-TextStyle--variationStrong"
                                                    >#{{
                                                        product.shopify_display_order_id
                                                    }}</span
                                                >
                                            </a>
                                        </td>
                                        <td
                                            class="Polaris-IndexTable__TableCell"
                                        >
                                            <a
                                                class="Polaris-Link"
                                                target="_blank"
                                                :href="
                                                    'https://' +
                                                        shop.name +
                                                        '/admin/customers/' +
                                                        product.customer_id
                                                "
                                                data-polaris-unstyled="true"
                                                style="text-decoration: none;"
                                                ><span
                                                    class="Polaris-TextStyle--variationStrong"
                                                    >{{
                                                        product.customer_name
                                                    }}</span
                                                >
                                            </a>
                                        </td>
                                        <td
                                            class="Polaris-IndexTable__TableCell"
                                        >
                                            {{ product.customer_email }}
                                        </td>
                                        <td
                                            class="Polaris-IndexTable__TableCell"
                                        >
                                            {{ product.order_created_at }}
                                        </td>
                                        <td
                                            class="Polaris-IndexTable__TableCell"
                                        >
                                            <div
                                                v-if="
                                                    product.order_note ==
                                                        'active'
                                                "
                                            >
                                                <span
                                                    class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--sizeSmall"
                                                >
                                                    <span
                                                        class="Polaris-VisuallyHidden"
                                                    >
                                                        Success
                                                    </span>

                                                    Activated
                                                </span>
                                                <div
                                                    id="PolarisPortalsContainer"
                                                ></div>
                                            </div>
                                            <div
                                                v-else-if="
                                                    product.order_note ==
                                                        'packaging-free'
                                                "
                                            >
                                                <span
                                                    class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--sizeSmall"
                                                >
                                                    <span
                                                        class="Polaris-VisuallyHidden"
                                                    >
                                                        Success
                                                    </span>
                                                    Packaging Free
                                                </span>
                                                <div
                                                    id="PolarisPortalsContainer"
                                                ></div>
                                            </div>
                                            <div
                                                v-else-if="
                                                    product.order_note ==
                                                        'with-packaging'
                                                "
                                            >
                                                <span
                                                    class="Polaris-Badge Polaris-Badge--sizeSmall"
                                                    >With Packaging</span
                                                >
                                                <div
                                                    id="PolarisPortalsContainer"
                                                ></div>
                                            </div>
                                            <div v-else>
                                                <span
                                                    class="Polaris-Badge Polaris-Badge--sizeSmall"
                                                    >De-Activated</span
                                                >
                                                <div
                                                    id="PolarisPortalsContainer"
                                                ></div>
                                            </div>
                                        </td>

                                        <td
                                            class="Polaris-IndexTable__TableCell"
                                        >
                                            <div
                                                v-if="
                                                    product.is_pos === 1
                                                "
                                            >
                                                <span
                                                    class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--sizeSmall"
                                                >
                                                    <span
                                                        class="Polaris-VisuallyHidden"
                                                    >
                                                        Success
                                                    </span>

                                                    YES
                                                </span>
                                                <div
                                                    id="pos_yes"
                                                ></div>
                                            </div>
                                            <div v-else>
                                                <span
                                                    class="Polaris-Badge Polaris-Badge--sizeSmall"
                                                >NO</span
                                                >
                                                <div
                                                    id="pos_no"
                                                ></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="Polaris-DataTable__Footer">
                            <nav aria-label="Pagination">
                                <div
                                    class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented"
                                    data-buttongroup-segmented="true"
                                >
                                    <div class="Polaris-ButtonGroup__Item">
                                        <button
                                            v-on:click="
                                                get(api_data.current_page - 1)
                                            "
                                            :disabled="
                                                api_data.current_page === 1
                                            "
                                            id="previousURL"
                                            class="Polaris-Button Polaris-Button--outline Polaris-Button--iconOnly"
                                            aria-label="Previous"
                                            type="button"
                                        >
                                            <span
                                                class="Polaris-Button__Content"
                                                ><span
                                                    class="Polaris-Button__Icon"
                                                    ><span class="Polaris-Icon"
                                                        ><svg
                                                            viewBox="0 0 20 20"
                                                            class="Polaris-Icon__Svg"
                                                            focusable="false"
                                                            aria-hidden="true"
                                                        >
                                                            <path
                                                                d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16z"
                                                            ></path></svg></span></span
                                            ></span>
                                        </button>
                                    </div>
                                    <div class="Polaris-ButtonGroup__Item">
                                        <button
                                            v-on:click="
                                                get(api_data.current_page + 1)
                                            "
                                            :disabled="
                                                api_data.current_page ===
                                                    api_data.last_page
                                            "
                                            id="nextURL"
                                            class="Polaris-Button Polaris-Button--outline Polaris-Button--iconOnly"
                                            aria-label="Next"
                                            type="button"
                                        >
                                            <span
                                                class="Polaris-Button__Content"
                                                ><span
                                                    class="Polaris-Button__Icon"
                                                    ><span class="Polaris-Icon"
                                                        ><svg
                                                            viewBox="0 0 20 20"
                                                            class="Polaris-Icon__Svg"
                                                            focusable="false"
                                                            aria-hidden="true"
                                                        >
                                                            <path
                                                                d="M8 16a.999.999 0 0 1-.707-1.707L11.586 10 7.293 5.707a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5A.997.997 0 0 1 8 16z"
                                                            ></path></svg></span></span
                                            ></span>
                                        </button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="PolarisPortalsContainer"></div>
    </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import AxiosService from "../../services/axios.services";

Vue.use(Loading);

export default {
    props: ["propsUrls", "propsData"],
    components: {
        Loading,
        AxiosService
    },
    name: "Orders",
    data() {
        let thisRef = this;
        return {
            isLoading: true,
            handprint_api_url: "",
            show_default_html: false,
            show_cart_html: false,
            show_lite_html: false,
            shop: JSON.parse(thisRef.propsData).shop,
            api_user_id: "",
            api_data: []
        };
    },
    methods: {
        async get(page = 1) {
            let base = this;
            base.isLoading = true;
            let urls = JSON.parse(base.propsUrls);
            try {
                let {
                    data: { data }
                } = await axios.get(urls.orders + "&page=" + page);
                base.api_data = data;
            } catch (response) {
                if (response.data.message) {
                    base.$helpers.errorToast(response.data.message);
                }
            }
            base.isLoading = false;
        }
    },
    mounted() {
        let base = this;
        //console.log("base-----", base.propsUrls.orders);
        base.get();
        // base.form.status = base.moduleData.shop.status;
    }
};
</script>

<style lang="scss" scoped>
.Polaris-IndexTable {
    position: relative;
    overflow: hidden;
}
.Polaris-IndexTable__LoadingContainer--enter {
    opacity: 0;
    transform: translateY(-100%);
}
.Polaris-IndexTable--loadingContainerEnterActive {
    opacity: 1;
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    transform: translateY(0);
}
.Polaris-IndexTable__LoadingContainer--exit {
    opacity: 1;
    transform: translateY(0);
}
.Polaris-IndexTable--loadingContainerExitActive {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.1s ease-in, transform 0.1s ease-in;
}
.Polaris-IndexTable__LoadingPanel {
    position: absolute;
    z-index: 37;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--p-surface);
    padding: 0.8rem 1.6rem;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.Polaris-IndexTable__LoadingPanel .Polaris-IndexTable__LoadingPanelRow {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: var(--p-surface-highlight-subdued);
    padding: 0.8rem;
    padding-bottom: 0.4rem;
    border-radius: var(--p-border-radius-base, 3px);
}
.Polaris-IndexTable__LoadingPanelText {
    margin-left: 1.2rem;
    color: var(--p-text);
}
.Polaris-IndexTable__Table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
}
.Polaris-IndexTable__Table--scrolling .Polaris-IndexTable__TableCell--first,
.Polaris-IndexTable__Table--scrolling
    .Polaris-IndexTable__TableCell--first
    + .Polaris-IndexTable__TableCell,
.Polaris-IndexTable__Table--scrolling .Polaris-IndexTable__TableHeading--first,
.Polaris-IndexTable__Table--scrolling
    .Polaris-IndexTable__TableHeading--second {
    visibility: visible;
    background-color: var(--p-surface);
}
.Polaris-IndexTable__Table--scrolling .Polaris-IndexTable__TableCell--first,
.Polaris-IndexTable__Table--scrolling .Polaris-IndexTable__TableHeading--first {
    box-shadow: 0.1rem -0.1rem 0 0 var(--p-divider);
}
@media (min-width: 28.625em) {
    .Polaris-IndexTable__Table--scrolling .Polaris-IndexTable__TableCell--first,
    .Polaris-IndexTable__Table--scrolling
        .Polaris-IndexTable__TableHeading--first {
        box-shadow: 0 -0.1rem 0 0 var(--p-divider);
    }
}
@media (min-width: 28.625em) {
    .Polaris-IndexTable__Table--scrolling
        .Polaris-IndexTable__TableCell--first
        + .Polaris-IndexTable__TableCell,
    .Polaris-IndexTable__Table--scrolling
        .Polaris-IndexTable__TableHeading--second {
        box-shadow: 0.1rem -0.1rem 0 0 var(--p-divider);
    }
}
.Polaris-IndexTable__TableRow {
    background-color: var(--p-surface);
    cursor: pointer;
}
.Polaris-IndexTable__TableRow.Polaris-IndexTable--statusSuccess,
.Polaris-IndexTable__TableRow.Polaris-IndexTable--statusSuccess
    .Polaris-IndexTable__TableCell--first,
.Polaris-IndexTable__TableRow.Polaris-IndexTable--statusSuccess
    .Polaris-IndexTable__TableCell--first
    + .Polaris-IndexTable__TableCell {
    background-color: var(--p-surface-primary-selected);
}
.Polaris-IndexTable__TableRow.Polaris-IndexTable--statusSubdued,
.Polaris-IndexTable__TableRow.Polaris-IndexTable--statusSubdued
    .Polaris-IndexTable__TableCell--first,
.Polaris-IndexTable__TableRow.Polaris-IndexTable--statusSubdued
    .Polaris-IndexTable__TableCell--first
    + .Polaris-IndexTable__TableCell {
    background-color: var(--p-surface-subdued);
}
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--hovered,
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--hovered
    .Polaris-IndexTable__TableCell--first,
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--hovered
    .Polaris-IndexTable__TableCell--first
    + .Polaris-IndexTable__TableCell {
    background-color: var(--p-surface-selected-hovered);
}
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--selected,
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--selected
    .Polaris-IndexTable__TableCell--first,
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--selected
    .Polaris-IndexTable__TableCell--first
    + .Polaris-IndexTable__TableCell,
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--selected
    .Polaris-IndexTable__TableHeading--first,
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--selected
    .Polaris-IndexTable__TableHeading--second {
    background-color: var(--p-surface-selected);
}
.Polaris-IndexTable__TableRow--subdued {
    color: var(--p-text-subdued);
}
.Polaris-IndexTable__TableHeading {
    padding: 1.6rem;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
    border: 0;
    border-bottom: 0.1rem solid var(--p-border, #c4cdd5);
    border-top: 0;
    font-size: 14px;
}
.Polaris-IndexTable__TableHeading--first {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    padding-left: 1.4rem;
    padding-right: 1.8rem;
}
.Polaris-IndexTable__ColumnHeaderCheckboxWrapper {
    display: flex;
}
.Polaris-IndexTable__StickyColumnHeaderCheckbox {
    margin-left: -0.2rem;
    padding-right: 0.2rem;
}
.Polaris-IndexTable__TableHeading--second {
    padding-left: 0;
}
@media (min-width: 28.625em) {
    .Polaris-IndexTable__TableHeading--second {
        position: -webkit-sticky;
        position: sticky;
    }
}
.Polaris-IndexTable__TableHeading--last {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
}
.Polaris-IndexTable__TableCell {
    z-index: 1;
    text-align: left;
    padding: 0.8rem 1.6rem;
    white-space: nowrap;
    box-shadow: 0 -0.1rem 0 0 var(--p-divider);
    border-bottom: 0.1rem solid var(--p-border, #c4cdd5);
    font-size: 13px;
    cursor: default;
}
.Polaris-IndexTable__TableCell--flush {
    padding: 0;
}
.Polaris-IndexTable__TableCell--first {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 30;
    padding: 0;
}
.Polaris-IndexTable__TableCell--first + .Polaris-IndexTable__TableCell {
    left: var(--p-checkbox-offset);
    padding-left: 0;
}
@media (min-width: 28.625em) {
    .Polaris-IndexTable__TableCell--first + .Polaris-IndexTable__TableCell {
        position: -webkit-sticky;
        position: sticky;
        z-index: 30;
        padding: 0;
    }
}
.Polaris-IndexTable__StickyTable {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: 37;
}
.Polaris-IndexTable__StickyTableHeader {
    position: absolute;
    display: flex;
    width: 100%;
}
.Polaris-IndexTable__StickyTableHeader:not(.Polaris-IndexTable__StickyTableHeader--isSticky) {
    top: -100rem;
    left: -100rem;
}
.Polaris-IndexTable__StickyTableColumnHeader {
    flex: 0 0 auto;
}
.Polaris-IndexTable__StickyTableColumnHeader--isScrolling {
    box-shadow: 1px 1px 0 0 var(--p-divider),
        1px 0 1px 1px rgba(63, 63, 68, 0.05), 1px 0 3px 0 rgba(63, 63, 68, 0.15);
}
.Polaris-IndexTable__StickyTableHeadings {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
}
.Polaris-IndexTable__StickyTableHeading--second {
    padding-left: 0;
}
@media (min-width: 28.625em) {
    .Polaris-IndexTable__StickyTableHeading--second {
        display: none;
    }
}
.Polaris-IndexTable--stickyTableHeadingSecondScrolling {
    padding: 0 0.06rem 0 1.6rem;
    display: none;
}
@media (min-width: 28.625em) {
    .Polaris-IndexTable--stickyTableHeadingSecondScrolling {
        display: block;
    }
}
.Polaris-IndexTable__StickyTableHeader--isSticky {
    visibility: visible;
    background-color: var(--p-surface);
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.Polaris-IndexTable:hover .Polaris-IndexTable__ScrollLeft {
    display: block;
}
.Polaris-IndexTable:hover .Polaris-IndexTable__ScrollRight {
    display: block;
}
.Polaris-IndexTable .Polaris-IndexTable__ScrollRight--onboarding {
    display: block;
}
.Polaris-IndexTable__BulkActionsWrapper {
    visibility: visible;
    position: relative;
    z-index: 36;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.8rem;
    background: var(--p-surface);
}
.Polaris-IndexTable__ScrollBarContainer {
    position: -webkit-sticky;
    position: sticky;
    z-index: 35;
    bottom: 0;
    padding: 0.2rem;
    border-top: 0.1rem solid var(--p-divider);
    background-color: var(--p-surface);
    border-bottom-right-radius: var(--p-border-radius-base, 3px);
    border-bottom-left-radius: var(--p-border-radius-base, 3px);
}
.Polaris-IndexTable--scrollBarContainerCondensed {
    visibility: hidden;
    pointer-events: none;
}
.Polaris-IndexTable__ScrollBar {
    overflow-x: scroll;
    width: 100%;
    margin: 0;
    padding: 0;
}
.Polaris-IndexTable__ScrollBar::-webkit-scrollbar-track {
    border-radius: 0.4rem;
    background-color: transparent;
}
.Polaris-IndexTable__ScrollBar::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: transparent;
}
.Polaris-IndexTable__ScrollBar::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: var(--p-border-neutral-subdued);
    -webkit-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}
.Polaris-IndexTable__ScrollBar:hover::-webkit-scrollbar-thumb {
    background-color: var(--p-border-depressed);
}
.Polaris-IndexTable--disableTextSelection {
    -webkit-user-select: none;
    user-select: none;
}
.Polaris-IndexTable--selectMode {
    transform: translateY(-5.2rem);
    margin-bottom: -5.2rem;
}
.Polaris-IndexTable__EmptySearchResultWrapper {
    padding: 1.6rem;
}
.Polaris-IndexTable--condensedRow {
    width: calc(100% + 3.4rem);
    transform: translateX(-3.4rem);
    transition: transform 0.2s cubic-bezier(0.64, 0, 0.35, 1);
    display: flex;
    border-top: 0.1rem solid var(--p-divider);
}
[data-selectmode="true"] .Polaris-IndexTable--condensedRow {
    transform: none;
}
.Polaris-IndexTable__CondensedList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.Polaris-IndexTable__HeaderWrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 5.6rem;
    padding: 1rem 1.6rem;
    background-color: var(--p-surface);
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.Polaris-IndexTable__StickyTable--condensed {
    visibility: visible;
}
.Polaris-IndexTable__StickyTableHeader--condensed {
    padding: 1.6rem 1.6rem 0.8rem;
}
.Polaris-IndexTable__ScrollBarContent {
    height: 1px;
    width: var(--p-scroll-bar-content-width);
}
.Polaris-IndexTable-Checkbox__TableCellContentContainer {
    display: flex;
    align-items: center;
}
.Polaris-IndexTable-Checkbox__Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Polaris-IndexTable-Checkbox--expanded {
    width: 3.2rem;
    height: 3.2rem;
    padding-left: 1.6rem;
}
.Polaris-IndexTable-Checkbox--condensed {
    min-width: 5rem;
    min-height: 4.4rem;
    margin-right: -1.6rem;
}
.Polaris-IndexTable-ScrollContainer {
    overflow-x: auto;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.Polaris-IndexTable-ScrollContainer::-webkit-scrollbar {
    display: none;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
</style>
