<template>
    <div>
        <loading :active.sync="isLoading" :is-full-page="true"></loading>

        <div class="Polaris-Page">
            <div class="Polaris-Page__Content">
                <div
                    v-if="Object.keys(errors).length > 0"
                    class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage"
                    tabindex="0"
                    role="alert"
                    aria-live="polite"
                    aria-labelledby="Banner10Heading"
                    aria-describedby="Banner10Content"
                >
                    <div class="Polaris-Banner__Ribbon">
                        <span
                            class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"
                            ><svg
                                viewBox="0 0 20 20"
                                class="Polaris-Icon__Svg"
                                focusable="false"
                                aria-hidden="true"
                            >
                                <circle
                                    fill="currentColor"
                                    cx="10"
                                    cy="10"
                                    r="9"
                                ></circle>
                                <path
                                    d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"
                                ></path></svg
                        ></span>
                    </div>
                    <div>
                        <div
                            class="Polaris-Banner__Content"
                            id="Banner10Content"
                        >
                            <div v-if="Array.isArray(errors)">
                                <p v-for="(item, index) in errors">
                                    {{ item[0] }}
                                </p>
                            </div>

                            <div v-else>
                                <p>{{ errors }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Polaris-Page">
            <div
                style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;"
            >
                <div class="Polaris-Layout">
                    <div class="Polaris-Layout__Section">
                        <div class="Polaris-Card">
                            <div
                                class="Polaris-Card__Header"
                                style="padding-bottom: 15px;"
                            >
                                <div
                                    class="Polaris-Stack Polaris-Stack--alignmentBaseline"
                                >
                                    <div
                                        class="Polaris-Stack__Item Polaris-Stack__Item--fill"
                                    >
                                        <h1 class="Polaris-Heading">
                                            Settings
                                        </h1>
                                    </div>
                                    <div class="Polaris-Stack__Item">
                                        <div
                                            class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented"
                                        >
                                            <div
                                                class="Polaris-ButtonGroup__Item"
                                            >
                                                <button
                                                    type="button"
                                                    class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[
                                                        form.statusNew
                                                            ? primaryClass
                                                            : ''
                                                    ]"
                                                    @click="
                                                        func_is_enable(true)
                                                    "
                                                >
                                                    <span
                                                        class="Polaris-Button__Content"
                                                    >
                                                        <span
                                                            class="Polaris-Button__Text"
                                                            >Enable</span
                                                        >
                                                    </span>
                                                </button>
                                            </div>
                                            <div
                                                class="Polaris-ButtonGroup__Item"
                                            >
                                                <button
                                                    type="button"
                                                    class="Polaris-Button Polaris-Button--sizeSlim"
                                                    v-bind:class="[
                                                        !form.statusNew
                                                            ? primaryClass
                                                            : ''
                                                    ]"
                                                    @click="
                                                        func_is_enable(false)
                                                    "
                                                >
                                                    <span
                                                        class="Polaris-Button__Content"
                                                    >
                                                        <span
                                                            class="Polaris-Button__Text"
                                                            >Disable</span
                                                        >
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <loading
                                :active.sync="isLoading"
                                :is-full-page="true"
                            ></loading>
                            <!--                            <div class="Polaris-Card__Section">-->
                            <!--                                <div id="hp-iframe-div" class="hp-iframe-div">-->
                            <!--                                    <div v-html="widgetHtml"></div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div
                                class="Polaris-Card__Section"
                                v-bind:style="
                                    form.statusNew ? '' : 'padding-top: 0px;'
                                "
                            >
                                <div
                                    id="hp-iframe-div"
                                    class="hp-iframe-div"
                                    v-bind:style="
                                        form.statusNew
                                            ? ''
                                            : 'height: fit-content;padding-top: 0px;'
                                    "
                                >
                                    <iframe
                                        v-if="!!form.statusNew && form.api_user_id"
                                        :src="
                                            handprint_dashboard_url +
                                                '/get-widget/' +
                                                form.api_user_id
                                        "
                                    >
                                    </iframe>
                                </div>
                            </div>

                            <div class="Polaris-Card__Section">
                                <div
                                    class="Polaris-Stack Polaris-Stack--alignmentBaseline"
                                >
                                    <div
                                        class="Polaris-FormLayout"
                                        style="width: 100%;margin-left: 0;"
                                    >
                                        <div
                                            role="group"
                                            class="Polaris-FormLayout--grouped"
                                        >
                                            <div
                                                class="Polaris-FormLayout__Item"
                                            >
                                                <div class="">
                                                    <div
                                                        class="Polaris-Labelled__LabelWrapper"
                                                    >
                                                        <div
                                                            class="Polaris-Label"
                                                        >
                                                            <label
                                                                id="PolarisTextField7Label"
                                                                for="PolarisTextField2"
                                                                class="Polaris-Label__Text"
                                                            >
                                                                <a
                                                                    v-bind:href="
                                                                        sso_login_url +
                                                                            '/check-if-authenticate?url=' +
                                                                            urls.redirect_url
                                                                    "
                                                                    target="_parent"
                                                                    >Get Serial
                                                                    Key</a
                                                                >
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="Polaris-Connected"
                                                    >
                                                        <div
                                                            class="Polaris-Connected__Item Polaris-Connected__Item--primary"
                                                        >
                                                            <div
                                                                class="Polaris-TextField"
                                                            >
                                                                <input
                                                                    id="PolarisTextField2"
                                                                    placeholder="Enter Serial Key"
                                                                    v-model="
                                                                        form.api_user_id
                                                                    "
                                                                    class="Polaris-TextField__Input"
                                                                    aria-labelledby="PolarisTextField2Label"
                                                                    aria-invalid="false"
                                                                    aria-multiline="false"
                                                                    value=""
                                                                    @blur="sendForm"
                                                                />
                                                                <div
                                                                    class="Polaris-TextField__Backdrop"
                                                                ></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="Polaris-FormLayout__Item"
                                            >
                                                <div class="">
                                                    <div
                                                        class="Polaris-Labelled__LabelWrapper"
                                                    >
                                                        <div
                                                            class="Polaris-Label"
                                                        >
                                                            <label
                                                                id="PolarisTextField7Label"
                                                                for="PolarisTextField2"
                                                                class="Polaris-Label__Text"
                                                            >
                                                                Get access Token
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="Polaris-Connected"
                                                    >
                                                        <div
                                                            class="Polaris-Connected__Item Polaris-Connected__Item--primary"
                                                        >
                                                            <div
                                                                class="Polaris-TextField"
                                                            >
                                                                <input
                                                                    id="PolarisTextField2"
                                                                    placeholder="Enter Serial Key"
                                                                    v-model="
                                                                        form.api_access_token_id
                                                                    "
                                                                    class="Polaris-TextField__Input"
                                                                    aria-labelledby="PolarisTextField2Label"
                                                                    aria-invalid="false"
                                                                    aria-multiline="false"
                                                                    value=""
                                                                    @blur="sendForm"
                                                                />
                                                                <div
                                                                    class="Polaris-TextField__Backdrop"
                                                                ></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="Polaris-FormLayout__Item"
                                                style="z-index: 1;"
                                            >
                                                <div class="">
                                                    <div
                                                        class="Polaris-Labelled__LabelWrapper"
                                                    >
                                                        <div
                                                            class="Polaris-Label"
                                                        >
                                                            <label
                                                                id="PolarisSelect10Label"
                                                                class="Polaris-Label__Text"
                                                            >
                                                                Widget position
                                                                on screen
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-Select">
                                                        <select
                                                            v-model="
                                                                form
                                                                    .visual_guide
                                                                    .button_position
                                                            "
                                                            class="Polaris-Select__Input"
                                                        >
                                                                                                                       <option value="Bottom Left" v-show="form.visual_guide.cart_position === 'Cart Page'">Bottom Left</option>
                                                            <option
                                                                value="Bottom Center"
                                                                v-show="
                                                                    form
                                                                        .visual_guide
                                                                        .cart_position ===
                                                                        'Cart Page'
                                                                "
                                                                >Bottom
                                                                Center</option
                                                            >
                                                                                                                       <option value="Bottom Right" v-show="form.visual_guide.cart_position === 'Cart Page'">Bottom Right</option>
                                                                                                            <option value="Top Left" v-show="form.visual_guide.cart_position === 'Cart Page'">Top Left</option>
                                                            <option
                                                                value="Top Center"
                                                                v-show="
                                                                    form
                                                                        .visual_guide
                                                                        .cart_position ===
                                                                        'Cart Page'
                                                                "
                                                                >Top
                                                                Center</option
                                                            >
                                                                                                                       <option value="Top Right" v-show="form.visual_guide.cart_position === 'Cart Page'">Top Right</option>
                                                            <option
                                                                value="Bottom"
                                                                v-show="
                                                                    form
                                                                        .visual_guide
                                                                        .cart_position ===
                                                                        'Cart Drawer'
                                                                "
                                                                >Bottom</option
                                                            >
                                                            <option
                                                                value="Top"
                                                                v-show="
                                                                    form
                                                                        .visual_guide
                                                                        .cart_position ===
                                                                        'Cart Drawer'
                                                                "
                                                                >Top</option
                                                            >
                                                        </select>
                                                        <div
                                                            class="Polaris-Select__Content"
                                                            aria-hidden="true"
                                                        >
                                                            <span
                                                                class="Polaris-Select__SelectedOption"
                                                            >
                                                                {{
                                                                    replaceText(
                                                                        form
                                                                            .visual_guide
                                                                            .button_position
                                                                    )
                                                                }}
                                                            </span>
                                                            <span
                                                                class="Polaris-Select__Icon"
                                                            >
                                                                <span
                                                                    class="Polaris-Icon"
                                                                >
                                                                    <svg
                                                                        viewBox="0 0 20 20"
                                                                        class="Polaris-Icon__Svg"
                                                                        focusable="false"
                                                                        aria-hidden="true"
                                                                    >
                                                                        <path
                                                                            d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z"
                                                                            fill-rule="evenodd"
                                                                        ></path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div
                                                            class="Polaris-Select__Backdrop"
                                                        ></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="Polaris-FormLayout__Item"
                                                style="z-index: 1;"
                                            >
                                                <div class="">
                                                    <div
                                                        class="Polaris-Labelled__LabelWrapper"
                                                    >
                                                        <div
                                                            class="Polaris-Label"
                                                        >
                                                            <label
                                                                id="PolarisSelect11Label"
                                                                class="Polaris-Label__Text"
                                                            >
                                                                Plugin position
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-Select">
                                                        <select
                                                            v-model="
                                                                form
                                                                    .visual_guide
                                                                    .cart_position
                                                            "
                                                            class="Polaris-Select__Input"
                                                            @change="
                                                                onChangePluginPosition()
                                                            "
                                                        >
                                                            <option
                                                                value="Cart Page"
                                                                >Cart
                                                                Page</option
                                                            >
                                                            <option
                                                                value="Cart Drawer"
                                                                >Cart
                                                                Drawer</option
                                                            >
                                                        </select>
                                                        <div
                                                            class="Polaris-Select__Content"
                                                            aria-hidden="true"
                                                        >
                                                            <span
                                                                class="Polaris-Select__SelectedOption"
                                                            >
                                                                {{
                                                                    form
                                                                        .visual_guide
                                                                        .cart_position &&
                                                                        replaceText(
                                                                            form
                                                                                .visual_guide
                                                                                .cart_position
                                                                        )
                                                                }}
                                                            </span>
                                                            <span
                                                                class="Polaris-Select__Icon"
                                                            >
                                                                <span
                                                                    class="Polaris-Icon"
                                                                >
                                                                    <svg
                                                                        viewBox="0 0 20 20"
                                                                        class="Polaris-Icon__Svg"
                                                                        focusable="false"
                                                                        aria-hidden="true"
                                                                    >
                                                                        <path
                                                                            d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z"
                                                                            fill-rule="evenodd"
                                                                        ></path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div
                                                            class="Polaris-Select__Backdrop"
                                                        ></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-FormLayout__Item">
                                    <div class="">
                                        <div
                                            class="Polaris-Labelled__LabelWrapper"
                                        >
                                            <div class="Polaris-Label">
                                                <label
                                                    style="padding:8px;"
                                                    class="Polaris-Label__Text"
                                                ></label>
                                            </div>
                                        </div>
                                        <div class="Polaris-Connected">
                                            <div
                                                class="Polaris-Connected__Item Polaris-Connected__Item--primary"
                                                align="right"
                                            >
                                                <button
                                                    @click="sendForm"
                                                    class="Polaris-Button Polaris-Button--primary"
                                                    type="button"
                                                >
                                                    <span
                                                        class="Polaris-Button__Content"
                                                        ><span
                                                            class="Polaris-Button__Text"
                                                            >Save</span
                                                        ></span
                                                    >
                                                </button>
                                                <div
                                                    id="PolarisPortalsContainer"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <model v-if="showModel" @update="updateMessage">
                            <h1 slot="model_header">Login</h1>
                            <div slot="model_body">
                                <ValidationObserver
                                    v-slot="{ invalid, validate, errors }"
                                >
                                    <form
                                        @submit.prevent="
                                            validate().then(onSubmit)
                                        "
                                        class="needs-validation lfrm"
                                    >
                                        <ValidationProvider
                                            name="email"
                                            rules="required|email"
                                            v-slot="{ errors }"
                                            tag="div"
                                            class="form-group pt-2"
                                        >
                                            <label for="email">Email</label>
                                            <input
                                                id="email"
                                                v-model="email"
                                                type="email"
                                                name="email"
                                                class="form-control"
                                            />

                                            <div
                                                class="invalid-feedback email"
                                                role="alert"
                                            >
                                                {{ errors[0] }}
                                            </div>
                                        </ValidationProvider>

                                        <ValidationProvider
                                            name="password"
                                            rules="required"
                                            v-slot="{ errors }"
                                            tag="div"
                                            class="form-group pt-2"
                                        >
                                            <div class="d-block">
                                                <label
                                                    for="password"
                                                    class="control-label"
                                                    >Password</label
                                                >
                                            </div>
                                            <input
                                                id="password"
                                                v-model="password"
                                                type="password"
                                                class="form-control "
                                                name="password"
                                                tabindex="2"
                                                autocomplete="current-password"
                                            />
                                            <div
                                                class="invalid-feedback password"
                                                role="alert"
                                            >
                                                {{ errors[0] }}
                                            </div>
                                        </ValidationProvider>

                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn-login btn-lg btn-block btn-a"
                                                tabindex="4"
                                                title="Login"
                                                style="padding: 8px 15px;font-size: 20px;"
                                                :disabled="invalid"
                                            >
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                </ValidationObserver>
                            </div>
                        </model>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import AxiosService from "../../services/axios.services";
import { extend } from "vee-validate";
import { required, email } from "vee-validate/dist/rules";

// Override the default message.
extend("required", {
    ...required,
    message: "This field is required"
});

// No message specified.
extend("email", email);

Vue.use(Loading);

export default {
    props: ["urls", "moduleData"],
    components: {
        Loading,
        AxiosService
    },
    name: "List",
    data() {
        let base = this;
        return {
            handprint_dashboard_url: base.moduleData.handprint_api_url.replace("v3", "v4/dev"),
            sso_login_url: base.moduleData.sso_login_url,
            isLoading: true,
            primaryClass: "Polaris-Button--primary",
            errorMsg: [],
            errors: [],
            handprint_api_url: "",
            form: {
                api_user_id: "",
                api_access_token_id:"",
                statusNew: false,
                visual_guide: {
                    button_position: "Bottom Center",
                    cart_position: "Cart Page"
                }
            },
            email: "",
            password: "",
            api_data: "",
            widgetHtml: "",
            login_data: {},
            showModel: false
        };
    },
    methods: {
        async onSubmit() {
            let base = this;
            base.isLoading = true;
            console.log("onSubmit DATA", {
                email: base.email,
                password: base.password
            });
            console.log("onSubmit sso_login_url", base.sso_login_url);
            await new Promise((resolve, reject) => {
                axios({
                    method: "POST",
                    url: base.sso_login_url + "/v3/get-key",
                    data: {
                        email: base.email,
                        password: base.password
                    }
                })
                    .then(response => {
                        console.log("onSubmit then response", response);
                        const { status } = response;
                        if (status == 200) {
                            base.isLoading = false;
                            base.showModel = false;
                            const {
                                data: {
                                    data: { key },
                                    success,
                                    message
                                }
                            } = response;

                            console.log("key", key, success, message);
                            base.form.api_user_id = key;
                            base.$helpers.successToast(message);
                            base.sendForm();
                        }
                    })
                    .catch(error => {
                        console.log(
                            "onSubmit catch error",
                            error.response.data.message
                        );
                        if (error.response != undefined) {
                            base.errors = error.response.data.message;
                            console.log(base.errors);
                        }
                        window.scrollTo(0, 0);
                        base.isLoading = false;
                    });
            });
        },
        hasPopupOpen(isShow = false) {
            this.showModel = isShow;
        },
        onChangePluginPosition() {
            let base = this;
            let selectedButtonPosition = base.form.visual_guide.cart_position;
            if (selectedButtonPosition === "Cart Page")
                base.form.visual_guide.button_position = "Bottom Center";
            else if (selectedButtonPosition === "Cart Drawer")
                base.form.visual_guide.button_position = "Bottom";
        },
        onChangeSaveData() {
            this.sendForm();
        },
        func_is_enable(currentValue) {
            let base = this;
            base.isLoading = true;
            base.form.statusNew = currentValue;
            new Promise((resolve, reject) => {
                axios({
                    method: "POST",
                    url: base.urls.status,
                    data: base.form
                })
                    .then(response => {
                        if (response.data.success) {
                            base.$helpers.successToast(response.data.message);
                        }
                    })
                    .catch(error => {
                        base.errors = error.response.data.message;
                        window.scrollTo(0, 0);
                    });
                base.isLoading = false;
            });
        },
        async sendForm() {
            let base = this;
            base.isLoading = true;
            let url = base.urls.store;
            let method = "post";

            let formData = new FormData();
            formData.append("api_user_id", base.form.api_user_id);
            formData.append("api_access_token_id", base.form.api_access_token_id);
            formData.append(
                "visual_guide",
                JSON.stringify(base.form.visual_guide)
            );

            base.errors = [];
            await new Promise((resolve, reject) => {
                axios({
                    header: {
                        // "Content-Type": "multipart/form-data",
                        _method: "post"
                        // 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    method: method,
                    url: url,
                    data: formData
                })
                    .then(response => {
                        if (response.data.success) {
                            base.getWidget(base.form.api_user_id);
                            // base.$helpers.successToast(response.data.message);
                        }
                    })
                    .catch(error => {
                        // console.log(error.response);
                        // base.errors = error.response.data.message;
                        window.scrollTo(0, 0);
                    });
                base.isLoading = false;
            });
        },
        replaceText(val1) {
            if (val1 != "undefined") return val1.replace("_", " ");
        },

        async get() {
            let base = this;
            base.isLoading = true;
            try {
                let { data } = await axios.get(base.urls.index);

                if (typeof data.id != "undefined") {
                    base.form.api_user_id = data.api_user_id;
                    base.form.api_access_token_id = data.api_access_token_id;
                    if (data.settings) base.form.visual_guide = data.settings;
                    if (!base.form.visual_guide.cart_position) {
                        base.form.visual_guide = {
                            ...base.form.visual_guide,
                            cart_position: "Cart Page"
                        };
                    }
                    base.handprint_api_url = data.handprint_api_url;
                    base.login_data = data.login_data;

                    // Working here
                    base.getWidget(data.api_user_id);
                }
            } catch (response) {
                // if (response.data.message) {
                // base.$helpers.errorToast(response.data.message);
                // }
            }
            base.isLoading = false;
        },

        async getWidget(apiUserId) {
            let base = this;
            base.isLoading = true;
            //console.log("---1---", process.env.HANDPRINT_API_URL);
            //console.log("---1.1.1---", env.MIX_HANDPRINT_API_URL);
            //console.log("---1.1---", process.env.HANDPRINT_API_URL);
            try {
                let url =
                    base.handprint_dashboard_url + "/get-widget/" + apiUserId;
                await AxiosService.get(url)
                    .then(response => {
                        console.log("---2---");
                        base.widgetHtml = response;
                    })
                    .finally(() => {
                        console.log("---3---");
                        base.isLoading = false;
                    });
                console.log("---4---");
            } catch (response) {
                console.log("---5---");
                base.$helpers.errorToast(response.message);
            }
            console.log("---6---");
        },
        updateMessage(message) {
            this.form.note = "";
            this.showModel = message;
        }
    },
    mounted() {
        let base = this;
        base.get();
        base.form.statusNew = base.moduleData.shop.status_new;
        base.hasPopupOpen(base.urls.serial_key === "empty");
    }
};
</script>
<style lang="scss" scoped>
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border-radius: 6px;
        width: 90%;
        max-width: 32%;
        max-height: calc(100vh - 60px);
        box-shadow: 0 2px 16px 0 rgba(32, 42, 54, 0.08);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        display: flex;
        flex-direction: column;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    /* The Close Button */
    .close {
        font-size: 32px;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        color: #637381;
        z-index: 99;
        cursor: pointer;
    }

    .modal-header {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        padding: 1.6rem 2rem;
        border-bottom: 0.1rem solid #c4cdd5;
        position: relative;
        h1 {
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }

    .modal-body,
    .model_body {
        flex: 0 0 auto;
        padding: 2rem;
    }

    .modal-footer {
        align-self: flex-end;
        align-items: center;
        width: 100%;
        min-height: 6.4rem;
        padding: 1.6rem;
        border-top: 0.1rem solid #c4cdd5;
    }

    .card {
        /*position: relative;*/
        display: -ms-flexbox;
        display: -webkit-box;
        /*display: flex;*/
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
            0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
            0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
            0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
    }

    .card {
        border-radius: 15px !important;
    }

    .card.card-primary {
        border-top: 2px solid #3dc9b3;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .justify-center {
        justify-content: center;
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card .card-header,
    .card .card-body,
    .card .card-footer {
        background-color: transparent;
        padding: 20px 25px;
    }

    .card .card-header {
        border-bottom-color: #f9f9f9;
        line-height: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100%;
        padding: 10px 25px;
        display: flex;
        align-items: center;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-group .control-label,
    .form-group > label {
        font-weight: 600;
        color: #34395e;
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    button,
    input {
        overflow: visible;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
    }

    .form-control,
    .input-group-text,
    .custom-select,
    .custom-file-label {
        background-color: #fdfdff;
        border-color: #e4e6fc;
    }

    .input-group-text,
    select.form-control:not([size]):not([multiple]),
    .form-control:not(.form-control-sm):not(.form-control-lg) {
        font-size: 14px;
        padding: 10px 15px;
        height: 42px;
    }

    .invalid-feedback {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }

    .pt-2,
    .py-2 {
        padding-top: 0.5rem !important;
    }
    .text-small {
        font-size: 12px;
        line-height: 20px;
    }

    a {
        color: #3dc9b3;
    }

    .float-right {
        float: right !important;
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem;
    }

    .custom-control {
        line-height: 1.6rem;
    }

    .custom-control-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
    }

    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }

    .btn-login:hover {
        background-color: #fff !important;
        box-shadow: 0 0 0 2.5px #fff, 0 0 0 5px #3dc9b3, 0 0 0 5px #fff,
            0 0 0 5.5px #3dc9b3 !important;
        border-color: #000 !important;
        color: #000 !important;
    }

    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
    }
    .btn-login {
        background-color: #3dc9b3;
        border: #3dc9b3 1px solid;
        color: #fff !important;
        cursor: pointer;
        font-size: 13px;
        border-radius: 5px;
        padding: 9px 10px;
        transition: 0.2s;
    }
    .btn-block {
        display: block;
        width: 100%;
    }
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
    [type="button"],
    [type="reset"],
    [type="submit"],
    button {
        -webkit-appearance: button;
    }
    button,
    select {
        text-transform: none;
    }

    .custom-control-label::before {
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        background-color: #fff;
        border: #adb5bd solid 1px;
    }
    .custom-control-label::before,
    .custom-file-label,
    .custom-select {
        -webkit-transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
    }
    .custom-checkbox .custom-control-label::before {
        border-radius: 0.25rem;
    }
    .form-control:focus {
        border-color: #3dc9b3;
    }

    .input-group-text,
    select.form-control:not([size]):not([multiple]),
    .form-control:not(.form-control-sm):not(.form-control-lg) {
        font-size: 14px;
        padding: 10px 15px;
        height: 42px;
    }
    .custom-file-label:focus,
    .custom-select:focus,
    .form-control:focus,
    .input-group-text:focus {
        background-color: transparent;
    }
    .form-control:focus,
    .input-group-text:focus,
    .custom-select:focus,
    .custom-file-label:focus {
        background-color: #fefeff;
        border-color: #95a0f4;
    }
    .btn:focus,
    .btn:active,
    .btn:active:focus,
    .custom-select:focus,
    .form-control:focus {
        box-shadow: none !important;
        outline: none;
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
    .form-control:focus {
        border-color: #3dc9b3;
    }
}
</style>
