<template>
    <div>
        <component @clickChangeComponent="onChangeComponent" v-bind:is="currentComp" :urls="urls" :moduleData="moduleData"></component>
    </div>
</template>

<script>
    import List from './List';

    export default {
        name: "Master",
        props: ['propsUrls', 'propsData'],
        components:{
            list:List,
        },
        data(){
            return {
                urls: JSON.parse(this.propsUrls),
                moduleData: JSON.parse(this.propsData),
                currentComp:'',
            };
        },
        methods: {
            onChangeComponent(component = {name:'list'}) {
                this.currentComp = component.name;
            },
        },
        mounted() {
            this.currentComp = 'list';
        }
    };
</script>

<style scoped>

</style>
