<template>
    <div>
        <loading :active.sync="isLoading" :is-full-page="true"></loading>

        <div class="Polaris-Page">
            <div class="Polaris-Page__Content">
                <div
                    v-if="Object.keys(errors).length > 0"
                    class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage"
                    tabindex="0"
                    role="alert"
                    aria-live="polite"
                    aria-labelledby="Banner10Heading"
                    aria-describedby="Banner10Content"
                >
                    <div class="Polaris-Banner__Ribbon">
                        <span
                            class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"
                            ><svg
                                viewBox="0 0 20 20"
                                class="Polaris-Icon__Svg"
                                focusable="false"
                                aria-hidden="true"
                            >
                                <circle
                                    fill="currentColor"
                                    cx="10"
                                    cy="10"
                                    r="9"
                                ></circle>
                                <path
                                    d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"
                                ></path></svg
                        ></span>
                    </div>
                    <div>
                        <div
                            class="Polaris-Banner__Content"
                            id="Banner10Content"
                        >
                            <div v-if="Array.isArray(errors)">
                                <p v-for="(item, index) in errors">
                                    {{ item[0] }}
                                </p>
                            </div>

                            <div v-else>
                                <p>{{ errors }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Polaris-Page">
            <div
                style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;"
            >
                <div class="Polaris-Layout">
                    <div class="Polaris-Layout__Section">
                        <div class="Polaris-Card">
                            <div
                                class="Polaris-Card__Header"
                                style="padding-bottom: 15px;"
                            >
                                <div
                                    class="Polaris-Stack Polaris-Stack--alignmentBaseline"
                                >
                                    <div
                                        class="Polaris-Stack__Item Polaris-Stack__Item--fill"
                                    >
                                        <h1 class="Polaris-Heading">
                                            Preview
                                        </h1>
                                    </div>
                                    <div class="switch-btn">
                                        <h5 v-if="!form.status"> Disabled on your e-store</h5>
                                        <h5 v-else style="color:#1dca99"> Enabled on your e-store</h5>
                                    </div>
                                
                                    <!-- New Button -->
                                      <div class="Polaris-Stack__Item">
                                        <div
                                            class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented"
                                            v-bind:class="form.status ? 'enabled-switch' : ''"
                                        >
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button
                                                    type="button"
                                                    class="Polaris-Button Polaris-Button--sizeSlim btn-2"
                                                    v-bind:class="[!form.status ? primaryClass : '']"
                                                    @click="func_is_enable(false)"
                                                >
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Disable</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button
                                                    type="button"
                                                    class="Polaris-Button Polaris-Button--sizeSlim btn-1"
                                                    v-bind:class="[form.status ? primaryClass : '']"
                                                    @click="func_is_enable(true)"
                                                >
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Enable</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <loading
                                :active.sync="isLoading"
                                :is-full-page="true"
                            ></loading>
                            <!--                            <div class="Polaris-Card__Section">-->
                            <!--                                <div id="hp-iframe-div" class="hp-iframe-div">-->
                            <!--                                    <div v-html="widgetHtml"></div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div
                                class="Polaris-Card__Section"
                                v-bind:style="
                                    form.status ? '' : 'padding-top: 0px;'
                                "
                            >
                                <div
                                    id="hp-iframe-div"
                                    class="hp-iframe-div"
                                    v-bind:style="
                                        form.status
                                            ? ''
                                            : 'height: fit-content;padding-top: 0px;'
                                    "
                                >
                                    <iframe
                                        v-if="!!form.status"
                                        :src="
                                            handprint_dashboard_url +
                                                '/get-widget/' +
                                                form.api_user_id +
                                                '&output=embed'
                                        "
                                    >
                                    </iframe>
                                </div>
                            </div>

                            <div class="Polaris-Card__Section">
                                <div
                                    class="Polaris-Stack Polaris-Stack--alignmentBaseline"
                                >
                                    <div
                                        class="Polaris-FormLayout"
                                        style="width: 100%;margin-left: 0;"
                                    >
                                        <div
                                            role="group"
                                            class="Polaris-FormLayout--grouped"
                                        >
                                            <div
                                                class="Polaris-FormLayout__Item"
                                            >
                                                <div class="form-section">
                                                                                                        <div
                                                        class="Polaris-Labelled__LabelWrapper"
                                                    >
                                                        <div
                                                            class="Polaris-Label"
                                                        >
                                                            <label
                                                                id="PolarisTextField7Label"
                                                                for="PolarisTextField2"
                                                                class="Polaris-Label__Text"
                                                            >
                                                                <a
                                                                    v-bind:href="
                                                                        sso_login_url +
                                                                            '/check-if-authenticate?url=' +
                                                                            urls.redirect_url
                                                                    "
                                                                    target="_parent"
                                                                    >Link Your Handprint Account </a
                                                                > <!-- <span> Link Your Handprint Account o</span> -->
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="Polaris-Connected"
                                                    >
                                                        <div
                                                            class="Polaris-Connected__Item Polaris-Connected__Item--primary"
                                                        >
                                                            <div
                                                                class="Polaris-TextField"
                                                            >
                                                                <input
                                                                    id="PolarisTextField2"
                                                                    placeholder="Enter Company ID"
                                                                    v-model="
                                                                        form.api_user_id
                                                                    "
                                                                    class="Polaris-TextField__Input"
                                                                    aria-labelledby="PolarisTextField2Label"
                                                                    aria-invalid="false"
                                                                    aria-multiline="false"
                                                                    value=""
                                                                    @blur="
                                                                        sendForm
                                                                    "
                                                                />
                                                                <div
                                                                    class="Polaris-TextField__Backdrop"
                                                                ></div>
                                                            </div>
                                                             <p class="line">Or, manually paste your Company ID from your Handprint's Profile page</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        <!-- New widget position design -->
                                        <div class="hp-shopify-wrapper">
                                                <div class="hp-shopify-position">
                                                    <h2>Plugin position</h2>
                                                    <div class="hp-shopify-left-section">
                                                        <div class="hp-shopify-cartpage position-type mr-16">
                                                            <input
                                                                type="radio"
                                                                id="a25"
                                                                name="check-substitution-2"
                                                                value="Cart Page"
                                                                v-model="form.visual_guide.cart_position"
                                                                @change="onChangePluginPosition()"
                                                            />
                                                            <label class="btn btn-default" for="a25">
                                                                <div class="hp-shopify-preview">
                                                                    <img
                                                                        src="https://handprint-local.s3.ap-southeast-1.amazonaws.com/images/default/green-tick.png"
                                                                        alt="Active"
                                                                    />
                                                                    <svg
                                                                        width="116"
                                                                        height="116"
                                                                        viewBox="0 0 116 116"
                                                                        fill="none"
                                                                    >
                                                                        <path
                                                                            d="M87 51C87 49.8954 86.1046 49 85 49H31C29.8954 49 29 49.8954 29 51V85H87V51Z"
                                                                            fill="white"
                                                                        />
                                                                        <line
                                                                            x1="18"
                                                                            y1="86"
                                                                            x2="98"
                                                                            y2="86"
                                                                            stroke="#666666"
                                                                            stroke-width="2"
                                                                        />
                                                                        <path
                                                                            d="M28 51C28 49.3431 29.3431 48 31 48H85C86.6569 48 88 49.3431 88 51V86H28V51Z"
                                                                            stroke="#666666"
                                                                            stroke-width="2"
                                                                        />
                                                                        <rect
                                                                            x="45"
                                                                            y="71"
                                                                            width="26"
                                                                            height="10"
                                                                            rx="2"
                                                                            fill="#1D4648"
                                                                        />
                                                                    </svg>
                                                                </div>
                                                                <h6>Cart Page</h6>
                                                            </label>
                                                        </div>
                                                        <div class="hp-shopify-cartpage position-type">
                                                            <input
                                                                type="radio"
                                                                id="a50"
                                                                name="check-substitution-2"
                                                                value="Cart Drawer"
                                                                v-model="form.visual_guide.cart_position"
                                                                @change="onChangePluginPosition()"
                                                            />
                                                            <label class="btn btn-default" for="a50">
                                                                <div class="hp-shopify-preview">
                                                                    <img
                                                                        src="https://handprint-local.s3.ap-southeast-1.amazonaws.com/images/default/green-tick.png"
                                                                        alt="Active"
                                                                    />
                                                                    <svg
                                                                        width="116"
                                                                        height="116"
                                                                        viewBox="0 0 116 116"
                                                                        fill="none"
                                                                    >
                                                                        <path
                                                                            d="M66 49H31C29.8954 49 29 49.8954 29 51V85H66V49Z"
                                                                            fill="#E6E6E6"
                                                                        />
                                                                        <line
                                                                            x1="18"
                                                                            y1="86"
                                                                            x2="98"
                                                                            y2="86"
                                                                            stroke="#666666"
                                                                            stroke-width="2"
                                                                        />
                                                                        <path
                                                                            d="M28 51C28 49.3431 29.3431 48 31 48H85C86.6569 48 88 49.3431 88 51V86H28V51Z"
                                                                            stroke="#666666"
                                                                            stroke-width="2"
                                                                        />
                                                                        <rect
                                                                            x="69"
                                                                            y="68"
                                                                            width="16"
                                                                            height="10"
                                                                            rx="2"
                                                                            fill="#1D4648"
                                                                        />
                                                                        <line
                                                                            x1="66.5"
                                                                            y1="85"
                                                                            x2="66.5"
                                                                            y2="49"
                                                                            stroke="#666666"
                                                                        />
                                                                    </svg>
                                                                </div>
                                                                <h6>Cart Drawer</h6>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hp-shopify-right-section">
                                                    <h2>Position on screen</h2>
                                                    <div
                                                        class="hp-shopify-cartpage-position"
                                                        v-if="form.visual_guide.cart_position === 'Cart Page'"
                                                    >
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a26"
                                                                name="check-substitution-3"
                                                                value="Top Left"
                                                                v-model="form.visual_guide.button_position"
                                                                v-show="form.visual_guide.cart_position === 'Cart Page'"
                                                            />
                                                            <label class="btn btn-default" for="a26">
                                                                <span
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                    >
                                                                        <path
                                                                            d="M24.7071 23.2929C25.0976 23.6834 25.0976 24.3166 24.7071 24.7071C24.3166 25.0976 23.6834 25.0976 23.2929 24.7071L24.7071 23.2929ZM11 12C11 11.4477 11.4477 11 12 11L21 11C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13L13 13L13 21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21L11 12ZM23.2929 24.7071L11.2929 12.7071L12.7071 11.2929L24.7071 23.2929L23.2929 24.7071Z"
                                                                            fill="#999999"
                                                                        /></svg
                                                                ></span>
                                                            </label>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a27"
                                                                name="check-substitution-3"
                                                                value="Top Center"
                                                                v-show="form.visual_guide.cart_position === 'Cart Page'"
                                                                v-model="form.visual_guide.button_position"
                                                            />
                                                            <label class="btn btn-default" for="a27">
                                                                <span
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                    >
                                                                        <path
                                                                            d="M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L10.9289 15.6569C10.5384 16.0474 10.5384 16.6805 10.9289 17.0711C11.3195 17.4616 11.9526 17.4616 12.3431 17.0711L18 11.4142L23.6569 17.0711C24.0474 17.4616 24.6805 17.4616 25.0711 17.0711C25.4616 16.6805 25.4616 16.0474 25.0711 15.6569L18.7071 9.29289ZM19 26L19 10L17 10L17 26L19 26Z"
                                                                            fill="#999999"
                                                                        /></svg
                                                                ></span>
                                                            </label>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a28"
                                                                name="check-substitution-3"
                                                                value="Top Right"
                                                                v-show="form.visual_guide.cart_position === 'Cart Page'"
                                                                v-model="form.visual_guide.button_position"
                                                            />
                                                            <label class="btn btn-default" for="a28">
                                                                <span
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                    >
                                                                        <path
                                                                            d="M11.2929 23.2929C10.9024 23.6834 10.9024 24.3166 11.2929 24.7071C11.6834 25.0976 12.3166 25.0976 12.7071 24.7071L11.2929 23.2929ZM25 12C25 11.4477 24.5523 11 24 11L15 11C14.4477 11 14 11.4477 14 12C14 12.5523 14.4477 13 15 13L23 13L23 21C23 21.5523 23.4477 22 24 22C24.5523 22 25 21.5523 25 21L25 12ZM12.7071 24.7071L24.7071 12.7071L23.2929 11.2929L11.2929 23.2929L12.7071 24.7071Z"
                                                                            fill="#999999"
                                                                        /></svg
                                                                ></span>
                                                            </label>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a29"
                                                                name="check-substitution-3"
                                                                value="Bottom Left"
                                                                v-show="form.visual_guide.cart_position === 'Cart Page'"
                                                                v-model="form.visual_guide.button_position"
                                                            />
                                                            <label class="btn btn-default" for="a29">
                                                                <span
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                    >
                                                                        <path
                                                                            d="M24.7071 12.7071C25.0976 12.3166 25.0976 11.6834 24.7071 11.2929C24.3166 10.9024 23.6834 10.9024 23.2929 11.2929L24.7071 12.7071ZM11 24C11 24.5523 11.4477 25 12 25L21 25C21.5523 25 22 24.5523 22 24C22 23.4477 21.5523 23 21 23L13 23L13 15C13 14.4477 12.5523 14 12 14C11.4477 14 11 14.4477 11 15L11 24ZM23.2929 11.2929L11.2929 23.2929L12.7071 24.7071L24.7071 12.7071L23.2929 11.2929Z"
                                                                            fill="#999999"
                                                                        /></svg
                                                                ></span>
                                                            </label>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a30"
                                                                name="check-substitution-3"
                                                                value="Bottom Center"
                                                                v-show="form.visual_guide.cart_position === 'Cart Page'"
                                                                v-model="form.visual_guide.button_position"
                                                            />
                                                            <label class="btn btn-default" for="a30">
                                                                <span class="active"
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                    >
                                                                        <path
                                                                            d="M17.2929 26.7071C17.6834 27.0976 18.3166 27.0976 18.7071 26.7071L25.0711 20.3431C25.4616 19.9526 25.4616 19.3195 25.0711 18.9289C24.6805 18.5384 24.0474 18.5384 23.6569 18.9289L18 24.5858L12.3431 18.9289C11.9526 18.5384 11.3195 18.5384 10.9289 18.9289C10.5384 19.3195 10.5384 19.9526 10.9289 20.3431L17.2929 26.7071ZM17 10L17 26L19 26L19 10L17 10Z"
                                                                            fill="#999999"
                                                                        /></svg
                                                                ></span>
                                                            </label>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a31"
                                                                name="check-substitution-3"
                                                                value="Bottom Right"
                                                                v-show="form.visual_guide.cart_position === 'Cart Page'"
                                                                v-model="form.visual_guide.button_position"
                                                            />
                                                            <label class="btn btn-default" for="a31">
                                                                <span
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                    >
                                                                        <path
                                                                            d="M11.2929 12.7071C10.9024 12.3166 10.9024 11.6834 11.2929 11.2929C11.6834 10.9024 12.3166 10.9024 12.7071 11.2929L11.2929 12.7071ZM25 24C25 24.5523 24.5523 25 24 25L15 25C14.4477 25 14 24.5523 14 24C14 23.4477 14.4477 23 15 23L23 23L23 15C23 14.4477 23.4477 14 24 14C24.5523 14 25 14.4477 25 15L25 24ZM12.7071 11.2929L24.7071 23.2929L23.2929 24.7071L11.2929 12.7071L12.7071 11.2929Z"
                                                                            fill="#999999"
                                                                        />
                                                                    </svg>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <h6>{{ replaceText(form.visual_guide.button_position) }}</h6>
                                                    </div>
                                                                                                        <div
                                                        class="hp-shopify-cartdrawer-position"
                                                        v-if="form.visual_guide.cart_position === 'Cart Drawer'"
                                                    >
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a32"
                                                                name="check-substitution-3"
                                                                value="Top"
                                                                v-model="form.visual_guide.button_position"
                                                                v-show="
                                                                    form.visual_guide.cart_position === 'Cart Drawer'
                                                                "
                                                            />
                                                            <label class="btn btn-default" for="a32">
                                                                <span
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                    >
                                                                        <path
                                                                            d="M18.7071 9.29289C18.3166 8.90237 17.6834 8.90237 17.2929 9.29289L10.9289 15.6569C10.5384 16.0474 10.5384 16.6805 10.9289 17.0711C11.3195 17.4616 11.9526 17.4616 12.3431 17.0711L18 11.4142L23.6569 17.0711C24.0474 17.4616 24.6805 17.4616 25.0711 17.0711C25.4616 16.6805 25.4616 16.0474 25.0711 15.6569L18.7071 9.29289ZM19 26L19 10L17 10L17 26L19 26Z"
                                                                            fill="#999999"
                                                                        /></svg
                                                                ></span>
                                                            </label>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <input
                                                                type="radio"
                                                                id="a33"
                                                                name="check-substitution-3"
                                                                value="Bottom"
                                                                v-show="
                                                                    form.visual_guide.cart_position === 'Cart Drawer'
                                                                "
                                                                v-model="form.visual_guide.button_position"
                                                            />
                                                            <label class="btn btn-default" for="a33">
                                                                <span class="active"
                                                                    ><svg
                                                                        width="36"
                                                                        height="36"
                                                                        viewBox="0 0 36 36"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                    >
                                                                        <path
                                                                            d="M17.2929 26.7071C17.6834 27.0976 18.3166 27.0976 18.7071 26.7071L25.0711 20.3431C25.4616 19.9526 25.4616 19.3195 25.0711 18.9289C24.6805 18.5384 24.0474 18.5384 23.6569 18.9289L18 24.5858L12.3431 18.9289C11.9526 18.5384 11.3195 18.5384 10.9289 18.9289C10.5384 19.3195 10.5384 19.9526 10.9289 20.3431L17.2929 26.7071ZM17 10L17 26L19 26L19 10L17 10Z"
                                                                            fill="#999999"
                                                                        /></svg
                                                                ></span>
                                                            </label>
                                                        </div>
                                                        <div class="hp-direction">
                                                            <span class="empty"></span>
                                                        </div>
                                                        <h6>{{ replaceText(form.visual_guide.button_position) }}</h6>
                                                    </div>
                                                </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-FormLayout__Item">
                                    <div class="">
                                        <div
                                            class="Polaris-Labelled__LabelWrapper"
                                        >
                                            <div class="Polaris-Label">
                                                <label
                                                    style="padding:8px;"
                                                    class="Polaris-Label__Text"
                                                ></label>
                                            </div>
                                        </div>
                                        <div class="Polaris-Connected">
                                            <div
                                                class="Polaris-Connected__Item Polaris-Connected__Item--primary"
                                                align="right"
                                            >
                                                <button
                                                    @click="sendForm"
                                                    class="Polaris-Button save-btn"
                                                    type="button"
                                                >
                                                    <span
                                                        class="Polaris-Button__Content"
                                                        ><span
                                                            class="Polaris-Button__Text"
                                                            >Save</span
                                                        ></span
                                                    >
                                                </button>
                                                <div
                                                    id="PolarisPortalsContainer"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <model v-if="showModel" @update="updateMessage">
                            <h1 slot="model_header">Login</h1>
                            <div slot="model_body">
                                <ValidationObserver
                                    v-slot="{ invalid, validate, errors }"
                                >
                                    <form
                                        @submit.prevent="
                                            validate().then(onSubmit)
                                        "
                                        class="needs-validation lfrm"
                                    >
                                        <ValidationProvider
                                            name="email"
                                            rules="required|email"
                                            v-slot="{ errors }"
                                            tag="div"
                                            class="form-group pt-2"
                                        >
                                            <label for="email">Email</label>
                                            <input
                                                id="email"
                                                v-model="email"
                                                type="email"
                                                name="email"
                                                class="form-control"
                                            />

                                            <div
                                                class="invalid-feedback email"
                                                role="alert"
                                            >
                                                {{ errors[0] }}
                                            </div>
                                        </ValidationProvider>

                                        <ValidationProvider
                                            name="password"
                                            rules="required"
                                            v-slot="{ errors }"
                                            tag="div"
                                            class="form-group pt-2"
                                        >
                                            <div class="d-block">
                                                <label
                                                    for="password"
                                                    class="control-label"
                                                    >Password</label
                                                >
                                            </div>
                                            <input
                                                id="password"
                                                v-model="password"
                                                type="password"
                                                class="form-control "
                                                name="password"
                                                tabindex="2"
                                                autocomplete="current-password"
                                            />
                                            <div
                                                class="invalid-feedback password"
                                                role="alert"
                                            >
                                                {{ errors[0] }}
                                            </div>
                                        </ValidationProvider>

                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn-login btn-lg btn-block btn-a"
                                                tabindex="4"
                                                title="Login"
                                                style="padding: 8px 15px;font-size: 20px;"
                                                :disabled="invalid"
                                            >
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                </ValidationObserver>
                            </div>
                        </model>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import AxiosService from "../../services/axios.services";
import { extend } from "vee-validate";
import { required, email } from "vee-validate/dist/rules";

// Override the default message.
extend("required", {
    ...required,
    message: "This field is required"
});

// No message specified.
extend("email", email);

Vue.use(Loading);

export default {
    props: ["urls", "moduleData"],
    components: {
        Loading,
        AxiosService
    },
    name: "List",
    data() {
        let base = this;
        return {
            handprint_dashboard_url: base.moduleData.handprint_api_url,
            sso_login_url: base.moduleData.sso_login_url,
            isLoading: true,
            primaryClass: "Polaris-Button--primary",
            btnClass: 'custom-switch-button input:checked slider',
            errorMsg: [],
            errors: [],
            handprint_api_url: "",
            form: {
                api_user_id: "",
                status: false,
                visual_guide: {
                    button_position: "Bottom Center",
                    cart_position: "Cart Page"
                }
            },
            email: "",
            password: "",
            api_data: "",
            widgetHtml: "",
            login_data: {},
            showModel: false
        };
    },
    methods: {
        async onSubmit() {
            let base = this;
            base.isLoading = true;
            console.log("onSubmit DATA", {
                email: base.email,
                password: base.password
            });
            console.log("onSubmit sso_login_url", base.sso_login_url);
            await new Promise((resolve, reject) => {
                axios({
                    method: "POST",
                    url: base.sso_login_url + "/v2/get-key",
                    data: {
                        email: base.email,
                        password: base.password
                    }
                })
                    .then(response => {
                        console.log("onSubmit then response", response);
                        const { status } = response;
                        if (status == 200) {
                            base.isLoading = false;
                            base.showModel = false;
                            const {
                                data: {
                                    data: { key },
                                    success,
                                    message
                                }
                            } = response;

                            console.log("key", key, success, message);
                            base.form.api_user_id = key;
                            base.$helpers.successToast(message);
                            base.sendForm();
                        }
                    })
                    .catch(error => {
                        console.log(
                            "onSubmit catch error",
                            error.response.data.message
                        );
                        if (error.response != undefined) {
                            base.errors = error.response.data.message;
                            console.log(base.errors);
                        }
                        window.scrollTo(0, 0);
                        base.isLoading = false;
                    });
            });
        },
        hasPopupOpen(isShow = false) {
            this.showModel = isShow;
        },
        onChangePluginPosition() {
            let base = this;
            let selectedButtonPosition = base.form.visual_guide.cart_position;
            if (selectedButtonPosition === "Cart Page")
                base.form.visual_guide.button_position = "Bottom Center";
            else if (selectedButtonPosition === "Cart Drawer")
                base.form.visual_guide.button_position = "Bottom";
        },
        onChangeSaveData() {
            this.sendForm();
        },
        func_is_enable(currentValue) {
            let base = this;
            base.isLoading = true;
            base.form.status = currentValue;
            new Promise((resolve, reject) => {
                axios({
                    method: "POST",
                    url: base.urls.status,
                    data: base.form
                })
                    .then(response => {
                        if (response.data.success) {
                            base.$helpers.successToast(response.data.message);
                        }
                    })
                    .catch(error => {
                        base.errors = error.response.data.message;
                        window.scrollTo(0, 0);
                    });
                base.isLoading = false;
            });
        },
        async sendForm() {
            let base = this;
            base.isLoading = true;
            let url = base.urls.store;
            let method = "post";

            let formData = new FormData();
            formData.append("api_user_id", base.form.api_user_id);
            formData.append(
                "visual_guide",
                JSON.stringify(base.form.visual_guide)
            );

            base.errors = [];
            await new Promise((resolve, reject) => {
                axios({
                    header: {
                        // "Content-Type": "multipart/form-data",
                        _method: "post"
                        // 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    method: method,
                    url: url,
                    data: formData
                })
                    .then(response => {
                        if (response.data.success) {
                            base.getWidget(base.form.api_user_id);
                            base.$helpers.successToast(response.data.message);
                        }
                    })
                    .catch(error => {
                        // console.log(error.response);
                        // base.errors = error.response.data.message;
                        window.scrollTo(0, 0);
                    });
                base.isLoading = false;
            });
        },
        replaceText(val1) {
            if (val1 != "undefined") return val1.replace("_", " ");
        },

        async get() {
            let base = this;
            base.isLoading = true;
            try {
                let { data } = await axios.get(base.urls.index);
                if (typeof data.id != "undefined") {
                    base.form.api_user_id = data.api_user_id;
                    if (data.settings) base.form.visual_guide = data.settings;
                    if (!base.form.visual_guide.cart_position) {
                        base.form.visual_guide = {
                            ...base.form.visual_guide,
                            cart_position: "Cart Page"
                        };
                    }
                    base.handprint_api_url = data.handprint_api_url;
                    base.login_data = data.login_data;
         
                    // Working here
                    base.getWidget(data.api_user_id);
                }
            } catch (response) {
                // if (response.data.message) {
                // base.$helpers.errorToast(response.data.message);
                // }
            }
            base.isLoading = false;
        },

        async getWidget(apiUserId) {
            let base = this;
            base.isLoading = true;
            //console.log("---1---", process.env.HANDPRINT_API_URL);
            //console.log("---1.1.1---", env.MIX_HANDPRINT_API_URL);
            //console.log("---1.1---", process.env.HANDPRINT_API_URL);
            try {
                let url =
                    base.handprint_dashboard_url + "/get-widget/" + apiUserId;
                await AxiosService.get(url)
                    .then(response => {
                        console.log("---2---");
                        base.widgetHtml = response;
                    })
                    .finally(() => {
                        console.log("---3---");
                        base.isLoading = false;
                    });
                console.log("---4---");
            } catch (response) {
                console.log("---5---");
                base.$helpers.errorToast(response.message);
            }
            console.log("---6---");
        },
        updateMessage(message) {
            this.form.note = "";
            this.showModel = message;
        }
    },
    mounted() {
        let base = this;
        base.get();
        base.form.status = base.moduleData.shop.status;
        base.hasPopupOpen(base.urls.serial_key === "empty");
    }
};
</script>
<style lang="scss" scoped>
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border-radius: 6px;
        width: 90%;
        max-width: 32%;
        max-height: calc(100vh - 60px);
        box-shadow: 0 2px 16px 0 rgba(32, 42, 54, 0.08);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        display: flex;
        flex-direction: column;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    /* The Close Button */
    .close {
        font-size: 32px;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        color: #637381;
        z-index: 99;
        cursor: pointer;
    }

    .modal-header {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        padding: 1.6rem 2rem;
        border-bottom: 0.1rem solid #c4cdd5;
        position: relative;
        h1 {
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }

    .modal-body,
    .model_body {
        flex: 0 0 auto;
        padding: 2rem;
    }

    .modal-footer {
        align-self: flex-end;
        align-items: center;
        width: 100%;
        min-height: 6.4rem;
        padding: 1.6rem;
        border-top: 0.1rem solid #c4cdd5;
    }

    .card {
        /*position: relative;*/
        display: -ms-flexbox;
        display: -webkit-box;
        /*display: flex;*/
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
            0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
            0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
            0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
    }

    .card {
        border-radius: 15px !important;
    }

    .card.card-primary {
        border-top: 2px solid #3dc9b3;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .justify-center {
        justify-content: center;
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card .card-header,
    .card .card-body,
    .card .card-footer {
        background-color: transparent;
        padding: 20px 25px;
    }

    .card .card-header {
        border-bottom-color: #f9f9f9;
        line-height: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100%;
        padding: 10px 25px;
        display: flex;
        align-items: center;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-group .control-label,
    .form-group > label {
        font-weight: 600;
        color: #34395e;
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    button,
    input {
        overflow: visible;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
    }

    .form-control,
    .input-group-text,
    .custom-select,
    .custom-file-label {
        background-color: #fdfdff;
        border-color: #e4e6fc;
    }

    .input-group-text,
    select.form-control:not([size]):not([multiple]),
    .form-control:not(.form-control-sm):not(.form-control-lg) {
        font-size: 14px;
        padding: 10px 15px;
        height: 42px;
    }

    .invalid-feedback {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }

    .pt-2,
    .py-2 {
        padding-top: 0.5rem !important;
    }
    .text-small {
        font-size: 12px;
        line-height: 20px;
    }

    a {
        color: #3dc9b3;
    }

    .float-right {
        float: right !important;
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem;
    }

    .custom-control {
        line-height: 1.6rem;
    }

    .custom-control-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
    }

    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }

    .btn-login:hover {
        background-color: #fff !important;
        box-shadow: 0 0 0 2.5px #fff, 0 0 0 5px #3dc9b3, 0 0 0 5px #fff,
            0 0 0 5.5px #3dc9b3 !important;
        border-color: #000 !important;
        color: #000 !important;
    }

    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
    }
    .btn-login {
        background-color: #3dc9b3;
        border: #3dc9b3 1px solid;
        color: #fff !important;
        cursor: pointer;
        font-size: 13px;
        border-radius: 5px;
        padding: 9px 10px;
        transition: 0.2s;
    }
    .btn-block {
        display: block;
        width: 100%;
    }
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
    [type="button"],
    [type="reset"],
    [type="submit"],
    button {
        -webkit-appearance: button;
    }
    button,
    select {
        text-transform: none;
    }

    .custom-control-label::before {
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        background-color: #fff;
        border: #adb5bd solid 1px;
    }
    .custom-control-label::before,
    .custom-file-label,
    .custom-select {
        -webkit-transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
    }
    .custom-checkbox .custom-control-label::before {
        border-radius: 0.25rem;
    }
    .form-control:focus {
        border-color: #3dc9b3;
    }

    .input-group-text,
    select.form-control:not([size]):not([multiple]),
    .form-control:not(.form-control-sm):not(.form-control-lg) {
        font-size: 14px;
        padding: 10px 15px;
        height: 42px;
    }
    .custom-file-label:focus,
    .custom-select:focus,
    .form-control:focus,
    .input-group-text:focus {
        background-color: transparent;
    }
    .form-control:focus,
    .input-group-text:focus,
    .custom-select:focus,
    .custom-file-label:focus {
        background-color: #fefeff;
        border-color: #95a0f4;
    }
    .btn:focus,
    .btn:active,
    .btn:active:focus,
    .custom-select:focus,
    .form-control:focus {
        box-shadow: none !important;
        outline: none;
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
    .form-control:focus {
        border-color: #3dc9b3;
    }

    .handprint_saas_button {
        background: #1cca98;
    }
}

.custom-switch-button .switch input {
    display: none;
}

.custom-switch-button .switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: -20px 10px 0;
    transform: translateY(50%);
    position: relative;
}

.custom-switch-button .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #c4c4c4, 0 0 4px #c4c4c4;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    transition: 0.2s;
    background-color: #c4c4c4;
}

.custom-switch-button .slider:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: 0.2s;
}

.custom-switch-button input:checked + .slider:before {
    transform: translateX(30px);
    background-color: #fff;
}

.custom-switch-button input:checked + .slider {
    background-color: #1dca99;
    box-shadow: 0 0 0 2px #1dca99, 0 0 4px #1dca99;
}

.switch-btn {
    display: flex;
    align-items: center;
    height: 32px;
}

.switch-btn h5 {
    margin: 10px 0 0;
    font-weight: unset;
    color: #999;
}

.switch-btn h5.active {
    color: #1dca99;
}

.position-type {
    margin: 0 5px 0 0;
    position: relative;
    width: 116px;
    height: 116px;
}

.hp-direction label span {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #ddd;
    border: 1px solid #ddd;
    margin: 2px 0;
}

.hp-direction {
    width: 36px;
    height: 36px;
    position: relative;
    margin-bottom: 4px;
}

.position-type label,
.hp-direction label,
.position-type input,
.hp-direction input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.position-type input[type='radio'],
.hp-direction input[type='radio'] {
    opacity: 0.011;
    z-index: 100;
}

.position-type input[type='radio']:checked + label .hp-shopify-preview {
    background-color: #89edc0;
}

.hp-direction input[type='radio']:checked + label span {
    background-color: #89edc0;
    border: 1px solid #1dca99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hp-direction input[type='radio']:checked + label span svg path {
    fill: #1d4648;
}

.position-type input[type='radio']:checked + label .hp-shopify-preview img {
    visibility: visible;
}

.position-type label,
.hp-direction label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
}

.hp-shopify-preview.active img {
    visibility: visible;
}

.hp-shopify-preview img {
    visibility: hidden;
}

.hp-shopify-preview {
    background-color: #eee;
    width: 116px;
    width: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

.hp-shopify-preview img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.hp-shopify-preview.active {
    background-color: #89edc0;
}

.hp-shopify-cartpage,
.hp-shopify-cartdrawer {
    width: 116px;
}

.mr-16 {
    margin-right: 16px;
}

.hp-shopify-wrapper {
    max-width: 610px;
    margin: 50px 20px;
    display: flex;
}
.btn-save {
    background :  linear-gradient(to bottom, #1DCA99, #1DCA99);
    color : #fff;
    border-radius : 8px;
    box-shadow:none;
    border:none;
}
.btn-save:hover {
    background-color: #000000;
}
.hp-shopify-left-section{
    display: flex;
}

.hp-shopify-wrapper h6 {
    text-align: center;
    font-size: 14px;
    color: #1d4648;
    margin-top: 2px;
    font-weight: unset;
    width: 100%;
}

.hp-shopify-wrapper h2 {
    font-size: 16px;
    color: #666;
    font-weight: 600;
    margin-bottom: 16px;
}

.hp-shopify-cartpage-position span,
.hp-shopify-cartdrawer-position span {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #ddd;
    border: 1px solid #ddd;
    margin: 2px 0;
}

.hp-shopify-cartpage-position,
.hp-shopify-cartdrawer-position {
    width: 116px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 116px;
}

.hp-shopify-cartpage-position span.empty,
.hp-shopify-cartdrawer-position span.empty {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 3px 0;
}

.hp-shopify-left-section {
    margin-right: 56px;
}

.custom-switch .switches-container {
    width: 80px;
    height: 40px;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: #c4c4c4;
    line-height: 3rem;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.custom-switch .switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

.custom-switch .switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    opacity: 0;
}

.custom-switch .switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.2rem;
    z-index: 3;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    box-sizing: border-box;
}

.switch {
    border-radius: 3rem;
    background: #fff;
    height: 100%;
}

.custom-switch .switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    /*      transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
            will-change: opacity;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.custom-switch .switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
    transform: translateX(0%);
}

.custom-switch .switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
    transform: translateX(100%);
}

.btn-1,
.btn-2 {
    border-radius: 16px;
    background-color: #c4c4c4;
    background-image: unset !important;
    border: none;
    box-shadow: none;
    position: relative;
    min-width:32px;
    width:20px;
}
.btn-1 span,
.btn-2 span {
    opacity: 0;
}
.btn-1{margin-left:3px}
.btn-1.Polaris-Button--primary,.btn-2.Polaris-Button--primary {
    background-color: #fff;
    border-radius: 16px;
    background-image: unset !important;
    border: none;
    box-shadow: none;
    color: #000;
    width: 20px;
    border: none;
    box-shadow: none;
    min-width:32px
}

.Polaris-Button--sizeSlim {
    padding: 0.4rem 0;
}
.Polaris-Button {
    transition: unset;
    transition-property: unset;
    transition-duration: unset;
    transition-timing-function: unset;
    -webkit-tap-highlight-color: unset;
    }
.Polaris-ButtonGroup--segmented {
    background-color: #c4c4c4;
    border-radius: 16px;
    padding: 2px;
    width:70px
}
.Polaris-ButtonGroup--segmented.enabled-switch, .Polaris-ButtonGroup--segmented.enabled-switch .btn-2 {
    background-color:#1DCA99;
}
.form-section .Polaris-Labelled__LabelWrapper {margin:30px 0 10px}
.form-section .Polaris-Labelled__LabelWrapper a{background-color:rgb(28, 202, 152); padding:4px 8px; border-radius:8px;height:36px;transition:0.2s;font-size:14px}
.form-section .Polaris-Labelled__LabelWrapper span {display:inline-block;margin-left:4px}
.form-section .Polaris-Labelled__LabelWrapper a:hover {background-color:#000}
.form-section .Polaris-Labelled__LabelWrapper a {color:#fff;text-decoration:none}
.form-section .Polaris-TextField__Backdrop {border-radius:8px;border:1px solid #dddddd}
.form-section p.line {font-size:14px;color:#666}
.save-btn {background: #1cca98;color:#FFF;border-radius:8px;border:1px solid #1cca98;transition:0.2s}
.save-btn:hover {background-color:#000;border-color:#000}
@media(max-width:428px){
    .hp-shopify-wrapper {
        display:block
    }
    .hp-shopify-right-section {margin-top:40px}
    .hp-shopify-right-section {margin-right:0}
    .form-section .Polaris-Labelled__LabelWrapper span {display:initial;font-size:12px}
    .form-section .Polaris-Labelled__LabelWrapper a {font-size:12px;height:auto}
}
@media(max-width:330px) {
    .switch-btn{font-size:12px }
    .Polaris-ButtonGroup--segmented {width:60px}
    .btn-1, .btn-2{min-width:22px}
    .hp-shopify-left-section {justify-content:space-between}
    .hp-shopify-left-section {margin-right:0}
}
</style>
