<template>
    <div>
        <div style="display: block" class="theme-cyan modal">
            <!-- Modal content -->
            <div class="card-primary modal-content card">
                <div class="modal-header">
                    <span class="close" @click.prevent="closeModel"
                        >&times;</span
                    >
                    <slot name="model_header"></slot>
                </div>
                <div class="modal-body">
                    <slot name="model_body"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var modal = "";
export default {
    props: ["showModel"],
    name: "Model",
    methods: {
        closeModel() {
            this.$emit("update", false);
        }
    }
};
</script>
<style lang="scss" scoped>
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border-radius: 6px;
        width: 90%;
        max-width: 32%;
        max-height: calc(100vh - 60px);
        box-shadow: 0 2px 16px 0 rgba(32, 42, 54, 0.08);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-width: 699px) {
        .modal-content {
            max-width: 90%;
        }
    }

    @media (min-width: 700px) and (max-width: 1024px) {
        .modal-content {
            max-width: 50%;
        }
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    /* The Close Button */
    .close {
        font-size: 32px;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        color: #637381;
        z-index: 99;
        cursor: pointer;
    }

    .modal-header {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        padding: 1.6rem 2rem;
        border-bottom: 0.1rem solid #c4cdd5;
        position: relative;
        h1 {
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }

    .modal-body,
    .model_body {
        flex: 0 0 auto;
        padding: 2rem;
    }

    .modal-footer {
        align-self: flex-end;
        align-items: center;
        width: 100%;
        min-height: 6.4rem;
        padding: 1.6rem;
        border-top: 0.1rem solid #c4cdd5;
    }

    .card {
        /*position: relative;*/
        display: -ms-flexbox;
        display: -webkit-box;
        /*display: flex;*/
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
            0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
            0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
            0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
    }

    .card {
        border-radius: 15px !important;
    }

    .card.card-primary {
        border-top: 2px solid #3dc9b3;
    }
}
</style>
